<!-- ADD Affiliates FORM -->
<div mat-dialog-title>
    <!-- <c-modal-header> -->
        <h3 cModalTitle>Simulate SBL</h3>
    <!-- </c-modal-header> -->
</div>


<form cForm class="mb-2" [formGroup]="sblSimulateForm"> 
    <div mat-dialog-content class="content">
        <c-row class="align-items-center">
            <!-- CIS Number Input -->

            <c-col [md]="6">
            <label cLabel="col" for="affilCisNumberM"></label>
            <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>CIS Number</mat-label> -->
                <input matInput #accDinput id="affilCisNumberM" name="affilCisNumberM"
                type="text" placeholder="CIS" (keyup.enter)="CISlookup()"
                formControlName="cis_no">
                <mat-error *ngIf="sblSimulateForm.get('cis_no')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
            </mat-form-field>
        </c-col>

        <c-col [md]="6">
            <label cLabel="col" for="accountName"></label>
            <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>Account Name</mat-label> -->
                <input matInput #accDinput id="accountName"  name="accountName"
                type="text" placeholder="Account Name"
                formControlName="name" >
                <mat-error *ngIf="sblSimulateForm.get('name')?.hasError('required')" class="error-msg">Account Name is Required</mat-error>
            </mat-form-field>
        </c-col>
        </c-row>

        <c-row class="align-items-center">
            <!-- CIS Number Input -->

            <c-col [md]="12">
            <label cLabel="col" for="amount"></label>
            <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>CIS Number</mat-label> -->
                <input matInput #accDinput id="amount" name="amount"
                type="text" placeholder="Amount" 
                formControlName="principal" appNum>
                <mat-error *ngIf="sblSimulateForm.get('amount')?.hasError('required')" class="error-msg">Please Enter Amount</mat-error>
            </mat-form-field>
        </c-col>
        </c-row>

        <c-container fluid class="px-0 my-2" >
            <c-row>
                <c-col [sm]="6">
                    <c-card>
                        <c-card-header><h5>Current</h5>
                        </c-card-header>
                        <c-card-body>
                            <div class="container">
                                <c-row class="align-items-stretch h-100">
                                    <c-col [sm]="6" class="border p-2">
                                        <div><strong>TOTAL RPT</strong></div>
                                    </c-col>
                                    <c-col [sm]="6" class="border p-2">
                                        <div>Php {{totalLoan | currency: 'PHP'}}</div>
                                    </c-col>
                                </c-row>
                            </div>
                        </c-card-body>
                    </c-card>
                </c-col>
                <c-col [sm]="6">
                    <c-card>
                        <c-card-header><h5>Simulated</h5>
                        </c-card-header>
                        <c-card-body>
                            <div class="container">
                                <c-row class="align-items-stretch h-100">
                                    <c-col [sm]="6" class="border p-2">
                                        <div><strong>TOTAL RPT</strong></div>
                                    </c-col>
                                    <c-col [sm]="6" class="border p-2">
                                        <div [ngClass]="{'green-text': simulatedSttl < availBal, 'red-text': simulatedSttl >= availBal}">
                                            Php {{simulatedSttl | number: '1.2-2'}}
                                        </div>
                                    </c-col>
                                </c-row>
                            </div>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </c-container>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
        <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
        
        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!affForm.valid">{{data ? 'Update': 'Save'}}</button> -->
    
        
        <button mat-raised-button color="primary" *ngIf="simulatedSttl < availBal" (click)="onSubmit()" [disabled]="!sblSimulateForm.valid">Submit</button>
        <!-- Show the Simulate button if simulatedRptTTL is not greater than currentSttl -->
        <button mat-raised-button color="accent" *ngIf="!(simulatedSttl < availBal)" (click)="simulateSBL()" [disabled]="!sblSimulateForm.valid">Simulate</button>
    
    </div>
</form>

