<!-- Main Container -->
<c-container fluid class="mb-3 p-0">
    <c-row>
      <c-col xs>
        <c-card class="mb-4">
          <c-card-header class="d-flex justify-content-between align-items-center"><h2>RPT List</h2>
          </c-card-header>
          <c-card-body>
                <c-container fluid class="my-3">

                    <c-container fluid class="my-1 d-flex justify-content-between align-items-center">
                        <!-- <c-row> -->
                            <button (click)="openSimulation()" mat-fab extended color="primary" *appHasPermission="'add'">
                              <!-- <mat-icon>add</mat-icon> -->
                              Simulate
                            </button>
                        <!-- </c-row> -->
                    </c-container>

                    <c-container fluid class="px-0">
                        <c-row class="my-1 d-flex justify-content-between align-items-end">
                          <c-col>
                            <c-card>
                              <c-card-body>
                                <table [responsive]="true" [cBorder]="1" cTable bordered>
                                  <thead cTableColor="success">
                                    <tr>
                                      <th scope="col">Unimpaired Capital</th>
                                      <th scope="col">RPT Balance (Net of Hold-out)</th>
                                      <th scope="col">RPT Ratio</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1,214,764,186.16</td>
                                      <td>Php {{rptBal | number: '1.2-2'}}</td>
                                      <td>{{rptRatio}}</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><p class="color-red">Board Approved RPT Limit</p></td>
                                      <td><p class="color-red">Php {{approvedCapital | number: '1.2-2'}}</p></td>
                                      <td><p class="color-red">50%</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="color-blue">Available Balance</p></td>
                                      <td><p class="color-blue">Php {{availBal | number: '1.2-2'}}</p></td>
                                      <td><p class="color-blue">{{availRptRatio}}</p></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </c-card-body>
                            </c-card>
                          </c-col>
                          <c-col>
                            <mat-form-field [style.width.%]=100>
                              <input matInput #filterInput (input)="applyFilter(filterInput.value)" placeholder="Search">
                                  <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                          </c-col>
                        </c-row>
                        <!-- </c-col> -->
                        <!-- </c-row> -->
                      
                       
                      </c-container>
                      
                    

                    <mat-table cTable [responsive]="true" [dataSource]="dataSource" class="mat-elevation-z8 pnTable" matSort>
                
                    <!-- CIS Column -->
                    <ng-container matColumnDef="cis_no">
                    <mat-header-cell *matHeaderCellDef> CIS Number </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cis_no}} </mat-cell>
                    </ng-container>
                
                    <!-- Loan/PN Column -->
                    <ng-container matColumnDef="loan_no">
                    <mat-header-cell *matHeaderCellDef>Loan/PN Number </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.loan_no}} </mat-cell>
                    </ng-container>
                
                    <!-- Borrower Column -->
                    <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Borrower </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- Original Loan Column -->
                    <ng-container matColumnDef="principal">
                        <mat-header-cell *matHeaderCellDef> Original Loan </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.principal | number: '1.2-2'}} </mat-cell>
                    </ng-container>

                    <!-- Outstanding Balance Column -->
                    <ng-container matColumnDef="principal_bal">
                        <mat-header-cell *matHeaderCellDef> Outstanding Balance </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.principal_bal | number: '1.2-2'}} </mat-cell>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="loan_security">
                      <mat-header-cell *matHeaderCellDef> Loan Security </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.loan_security}} </mat-cell>
                    </ng-container>


                     <!-- Position Column -->
                     <ng-container matColumnDef="hold_out">
                      <mat-header-cell *matHeaderCellDef> Deposit Hold-out </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.hold_out | number: '1.2-2'}} </mat-cell>
                    </ng-container>

                    <!-- Net Balance -->
                    <ng-container matColumnDef="netBal">
                      <mat-header-cell *matHeaderCellDef> Net Balance </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{ (element.principal_bal || 0) - (element.hold_out || 0) | number:'1.2-2' }}
                      </mat-cell>
                    </ng-container>

                     <!-- Position Column -->
                     <ng-container matColumnDef="date_granted">
                      <mat-header-cell *matHeaderCellDef> Transaction Date </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.date_granted | date: 'MM/dd/yyyy'}} </mat-cell>
                    </ng-container>

                     <!-- Position Column -->
                     <ng-container matColumnDef="terms">
                      <mat-header-cell *matHeaderCellDef> Term(mos) </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.terms}} </mat-cell>
                    </ng-container>

                     <!-- Position Column -->
                     <ng-container matColumnDef="purpose">
                      <mat-header-cell *matHeaderCellDef> Purpose </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.purpose}} </mat-cell>
                    </ng-container>

                     <!-- Position Column -->
                     <ng-container matColumnDef="intRate">
                      <mat-header-cell *matHeaderCellDef> Int. Rate </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.intRate}} </mat-cell>
                    </ng-container>

                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>


                    <c-container fluid class="px-0 my-2" >
                        <c-row>
                            <c-col [sm]="7"></c-col>
                            <c-col [sm]="5">
                                <c-card>
                                    <c-card-body>
                                        <table [responsive]="true" [cBorder]="1" cTable bordered >
                                            <thead cTableColor="success">
                                            <tr>
                                            <!-- <th scope="col">Unimpaired Capital (as of November 30, 2023)</th>
                                            <th scope="col"> RPT Balance (Net of Hold-out) </th>
                                            <th scope="col"> RPT Ratio </th> -->
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> <strong>TOTAL RPT</strong> </td>
                                                    <td>Php {{ttlRPTOL | number: '1.2-2'}}</td>
                                                    <td>Php {{ttlRPTOB | number: '1.2-2'}}</td>
                                                    <td>Php {{rptBal | number: '1.2-2'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </c-card-body>
                                  </c-card>
                            </c-col>
                        </c-row>
                    </c-container>
                </c-container>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
</c-container>