.mat-mdc-table {
    
    min-width: 2000px;
    max-width:max-content;
    max-height: 500px;
    overflow: auto;
  }

  
  .mat-column-name {
    height: 100px;
  }


  .color-red {
    color: red;
  }

  .color-blue {
    color: green;
  }

  .selected-row {
    background-color: #bea8a1; /* Adjust the background color as needed */
  }


  .green-text {
    color: green;
  }
  
  .red-text {
    color: red;
  }

  .center-header {
    text-align: center;
  }


  
  ::ng-deep .datepickerTwo {
    background:lightblue;
  }
  
  ::ng-deep .datepickerTwo .mat-calendar-body-today:not(.mat-calendar-body-selected){
    border-color:darkblue;
  }