<!-- Main Container -->
<c-container fluid class="mb-3 p-0">
    <c-row>
      <c-col xs>
        <c-card class="mb-4">
          <c-card-header class="d-flex justify-content-between align-items-center"><h2>RPT List</h2>
          </c-card-header>
          <c-card-body>
                <c-container fluid class="my-3">

                    <c-container fluid class="px-0 d-flex justify-content-between align-items-center">
                        <!-- <c-row> -->
                          <div>

                            <h6>Select Date</h6>
                            
                            <mat-form-field style="width: 380px;">
                              <mat-label>MM/DD/YYYY</mat-label>
                              <input matInput [matDatepicker]="picker" 
                                     (dateInput)="addEvent('input', $event); onDateSelected($event)" (dateChange)="addEvent('change', $event)">
                              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            
                          </div>

                          <div style="display: flex; align-items: center;">
                            <div>
                              <button (click)="openChecker()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                              <mat-icon>search</mat-icon>
                              RPT LookUp
                            </button>
                              <button (click)="downloadCSV()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                                <mat-icon>file_download</mat-icon>
                                CSV
                              </button>
                              <button (click)="generatePDF()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                                <mat-icon>file_download</mat-icon>
                                PDF
                              </button>
                              <button (click)="openSimulation()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                                <mat-icon>play_arrow</mat-icon>
                                Simulate
                              </button>
                            </div>

                            <button *ngIf="simulationPerformed" (click)="resetSimulation()" mat-fab extended color="primary">
                              <mat-icon>refresh</mat-icon>
                              Reset Simulation
                            </button>
                            
                          </div>
                            
                            
                        <!-- </c-row> -->
                    </c-container>

                    <c-container fluid class="px-0">
                        <c-row class="my-1 d-flex justify-content-between align-items-end">
                          <c-col>
                            <c-card>
                              <c-card-body>
                                <table [responsive]="true" [cBorder]="1" cTable bordered>
                                  <thead cTableColor="success">
                                    <tr>
                                      <th colspan="3" class="center-header"><h3>Actual Data</h3></th>
                                    </tr>
                                    <tr>
                                      <th scope="col">Unimpaired Capital as of {{UnimpairedDate | date: 'MMMM dd, yyyy'}}</th>
                                      <th scope="col">RPT Balance (Net of Hold-out)</th>
                                      <th scope="col">RPT Ratio</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>{{unimpairedCap | currency:'PHP'}}</td>
                                      <td>Php {{rptBal | currency:'PHP'}}</td>
                                      <td>{{rptRatio}}</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><p class="color-red">Board Approved RPT Limit</p></td>
                                      <td><p class="color-red">{{approvedCapital | currency:'PHP'}}</p></td>
                                      <td><p class="color-red">50%</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="color-blue">Available Balance</p></td>
                                      <td [ngClass]="{'green-text': availBal > 0, 'red-text': availBal <= 0}">
                                      <p>{{availBal | currency:'PHP'}}</p></td>
                                      <td [ngClass]="{'green-text': availBal > 0, 'red-text': availBal <= 0}"
                                      ><p>{{availRptRatio}}</p></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </c-card-body>
                            </c-card>
                          </c-col>

                          <!-- Simulated Amount Data -->
                          <c-col>
                            <c-card>
                              <c-card-body>
                                <div *ngIf="simulationPerformed">
                                  <table [responsive]="true" [cBorder]="1" cTable bordered>
                                    <thead cTableColor="success">
                                      <tr>
                                        <th colspan="3" class="center-header"><h3>Simulated Data</h3></th>
                                      </tr>
                                      <tr>
                                        <th scope="col">Unimpaired Capital as of {{UnimpairedDate | date: 'MMMM dd, yyyy'}}</th>
                                        <th scope="col">RPT Balance (Net of Hold-out)</th>
                                        <th scope="col">RPT Ratio</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{unimpairedCap | currency:'PHP'}}</td>
                                        <td>{{SimulatedrptBal | currency:'PHP'}}</td>
                                        <td>{{SimulatedrptRatio}}</td>
                                      </tr>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td><p class="color-red">Board Approved RPT Limit</p></td>
                                        <td><p class="color-red">{{approvedCapital | currency:'PHP'}}</p></td>
                                        <td><p class="color-red">50%</p></td>
                                      </tr>
                                      <tr>
                                        <td><p class="color-blue">Available Balance</p></td>
                                        <td [ngClass]="{'green-text': SimulatedavailBal > 0, 'red-text': SimulatedavailBal <= 0}">
                                        <p>{{SimulatedavailBal | currency:'PHP'}}</p></td>
                                        <td [ngClass]="{'green-text': SimulatedavailBal > 0, 'red-text': SimulatedavailBal <= 0}"
                                        ><p>{{SimulatedavailRptRatio}}</p></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </c-card-body>
                            </c-card>
                          </c-col>
                          
                        </c-row>

                        <c-row>
                          <c-col>
                            <mat-form-field [style.width.%]=100>
                              <input matInput #filterInput (input)="applyFilter(filterInput.value)" placeholder="Search">
                                  <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                          </c-col>
                        </c-row>
                        <!-- </c-col> -->
                        <!-- </c-row> -->
                      
                       
                      </c-container>
                      
                    
                    <!-- <div id="htmlData"> -->
                      <mat-table cTable  id="htmlData" [responsive]="true" [dataSource]="dataSource" class="mat-elevation-z8 pnTable" matSort>
                  
                      <!-- CIS Column -->
                      <ng-container matColumnDef="cis_no">
                      <mat-header-cell *matHeaderCellDef> CIS Number </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.cis_no}} </mat-cell>
                      </ng-container>
                  
                      <!-- Loan/PN Column -->
                      <ng-container matColumnDef="loan_no">
                      <mat-header-cell *matHeaderCellDef>Loan/PN Number </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.loan_no}} </mat-cell>
                      </ng-container>
                  
                      <!-- Borrower Column -->
                      <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Borrower </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                      </ng-container>

                      <!-- Original Loan Column -->
                      <ng-container matColumnDef="principal">
                          <mat-header-cell *matHeaderCellDef> Original Loan </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.principal | currency:'PHP'}} </mat-cell>
                      </ng-container>

                      <!-- Outstanding Balance Column -->
                      <ng-container matColumnDef="principal_bal">
                          <mat-header-cell *matHeaderCellDef> Outstanding Balance </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.principal_bal | currency:'PHP'}} </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="loan_security">
                        <mat-header-cell *matHeaderCellDef> Loan Security </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.loan_security}} </mat-cell>
                      </ng-container>


                      <!-- Position Column -->
                      <ng-container matColumnDef="holdoutdata">
                        <mat-header-cell *matHeaderCellDef> Deposit Hold-out </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="allocateHoldOut(element)"> {{element.holdoutdata | currency:'PHP'}} </mat-cell>
                      </ng-container>

                      <!-- Net Balance -->
                      <ng-container matColumnDef="netBal">
                        <mat-header-cell *matHeaderCellDef> Net Balance </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{element.netBal | currency:'PHP'}}
                          <!-- {{ (element.principal_bal || 0) - (element.deposit_holdout || 0) | number:'1.2-2' }} -->
                        </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="date_granted">
                        <mat-header-cell *matHeaderCellDef> Transaction Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date_granted | date: 'MM/dd/yyyy'}} </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="terms">
                        <mat-header-cell *matHeaderCellDef> Term(mos) </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.terms}} </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="purpose">
                        <mat-header-cell *matHeaderCellDef> Purpose </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.purpose}} </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="int_rate">
                        <mat-header-cell *matHeaderCellDef> Interest Rate </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.int_rate}}% </mat-cell>
                      </ng-container>

                  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selected-row': row === selectedPN}"></mat-row>
                      </mat-table>
                    <!-- </div> -->

                    <c-container fluid class="px-0 my-2" >
                        <c-row>
                            <c-col [sm]="7"></c-col>
                            <c-col [sm]="5">
                                <c-card>
                                    <c-card-body>
                                        <table [responsive]="true" [cBorder]="1" cTable bordered >
                                            <thead cTableColor="success">
                                            <tr>
                                            <th></th>
                                            <th scope="col">Original Loan</th>
                                            <th scope="col">Outstanding Balance</th>
                                            <th scope="col">Net Balance</th>
                                            </tr>
                                            <!-- <thead>
                                              <th></th>
                                              <th>Original Loan</th>
                                              <th>Outstanding Balance</th>
                                              <th>Net Balance</th>
                                            </thead> -->
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <td> <strong>TOTAL RPT</strong> </td>
                                                    <td>Php {{ttlRPTOL | number: '1.2-2'}}</td>
                                                    <td>Php {{ttlRPTOB | number: '1.2-2'}}</td>
                                                    <td>Php {{rptBal | number: '1.2-2'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </c-card-body>
                                  </c-card>
                            </c-col>
                        </c-row>
                    </c-container>
                </c-container>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
</c-container>