<!-- ADD DOSRI FORM -->
<div mat-dialog-title>
        <h3 cModalTitle>Bank Officer Form</h3>
</div>

<form cForm class="mb-2" [formGroup]="boForm" (ngSubmit)="onBOSubmit()">    
    <div mat-dialog-content class="content">
    <!-- Modal Form -->
       <c-modal-body>
        <c-row class="align-items-center">
          <c-col [sm]="12">
            <label cLabel="col" for="boCisNumber">CIS Number</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              aria-describedby="passwordHelpInline-3" matInput
              id="boCisNumber" name="boCisNumber"
              placeholder="CIS Number" 
              type="text" formControlName="cis_num" (keyup.enter)="CISlookup()">
              <mat-error *ngIf="boForm.get('cis_num')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
              <mat-error *ngIf="boForm.get('cis_num')?.hasError('pattern')" class="error-msg">Only AlphaNumeric characters allowed</mat-error>
            </mat-form-field>
          </c-col>
        </c-row>
          
        <c-row class="align-items-center">
            <c-col [sm]="6">
                <label cLabel="col" for="boFirstName">First Name</label>
                <mat-form-field appearance="fill" [style.width.%]=100>
                <input
                  aria-describedby="passwordHelpInline-3" matInput
                  id="boFirstName" name="boFirstName"
                  placeholder="First Name"
                  type="text" formControlName="fname" appTitleCase appLetters maxlength="100">
                  <mat-error *ngIf="boForm.get('fname')?.hasError('required')" class="error-msg">First Name is Required</mat-error>
                  <mat-error *ngIf="boForm.get('fname')?.hasError('pattern')" class="error-msg">Please Input proper characters</mat-error>
                </mat-form-field>
            </c-col>
    
            <c-col [sm]="6">
                <label cLabel="col" for="boMiddleName">Middle Name</label>
                <mat-form-field appearance="fill" [style.width.%]=100>
                <input
                  aria-describedby="passwordHelpInline-3" matInput
                  id="boMiddleName" name="mname"
                  placeholder="Middle Name"
                  type="text" formControlName="mname" appTitleCase appLetters maxlength="100">
                  <mat-error *ngIf="boForm.get('mname')?.hasError('pattern')" class="error-msg">Please Input proper characters</mat-error>
                </mat-form-field>
            </c-col>
        </c-row>

        <c-row class="align-items-center">
          <c-col [sm]="6">
            <label cLabel="col" for="boLastName">Last Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              aria-describedby="passwordHelpInline-3" matInput
              id="boLastName" name="boLastName"
              placeholder="Last Name"
              type="text" formControlName="lname" appTitleCase appLetters maxlength="100">
              <mat-error *ngIf="boForm.get('lname')?.hasError('required')" class="error-msg">Last Name is Required</mat-error>
              <mat-error *ngIf="boForm.get('lname')?.hasError('pattern')" class="error-msg">Please Input proper characters</mat-error>
            </mat-form-field>
        </c-col>
  
          <c-col [sm]="6">
            <label cLabel="col" for="boPosition">Position</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              matInput
              id="boPosition" name="boPosition"
              placeholder="Position"
              type="text" formControlName="Position" appTitleCase appLetters maxlength="100">
              <mat-error *ngIf="boForm.get('Position')?.hasError('required')" class="error-msg">Position is Required</mat-error>
              <mat-error *ngIf="boForm.get('Position')?.hasError('pattern')" class="error-msg">Please Input proper characters</mat-error>
            </mat-form-field>
          </c-col>
  
        </c-row>
      </c-modal-body>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
        <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!boForm.valid">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>


