<!-- ADD DOSRI FORM -->
<div mat-dialog-title>
    <h3 cModalTitle>Affiliates Officer Form</h3>
</div>

<form cForm class="mb-2" [formGroup]="affilOfficerForm" (ngSubmit)="onAffilOffSubmit()">    
<div mat-dialog-content class="content">
<!-- Modal Form -->
   <c-modal-body>
    <c-row class="align-items-center">
        <c-col [sm]="12">
            <label cLabel="col" for="off_CisNumber">CIS Number</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
              <input
                aria-describedby="passwordHelpInline-3" matInput
                id="off_CisNumber" name="off_CisNumber"
                placeholder="CIS Number"
                type="text" formControlName="off_CisNumber" (keyup.enter)="CISlookup()">
                <mat-error *ngIf="affilOfficerForm.get('off_CisNumber')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
              </mat-form-field>

            
          </c-col>  
    </c-row>

    
    <c-row class="align-items-center">
      <c-col [sm]="6">
        <label cLabel="col" for="off_fname">First Name</label>
        <mat-form-field appearance="fill" [style.width.%]=100>
        <input
          aria-describedby="passwordHelpInline-3" matInput
          id="off_fname" name="off_fname"
          placeholder="First Name"
          type="text" formControlName="off_fname" appTitleCase appLetters maxlength="50">
          <mat-error *ngIf="affilOfficerForm.get('off_fname')?.hasError('required')" class="error-msg">First Name is Required</mat-error>
        </mat-form-field>
      </c-col>
    
        <c-col [sm]="6">
            <label cLabel="col" for="off_mname">Middle Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
                aria-describedby="passwordHelpInline-3" matInput
                id="off_mname" name="off_mname"
                placeholder="Middle Name"
                type="text" formControlName="off_mname" appTitleCase appLetters maxlength="50">
            </mat-form-field>
        </c-col>
    </c-row>
    
    
    <c-row class="align-items-center">    
        <c-col [sm]="6">
            <label cLabel="col" for="off_lname">Last Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              aria-describedby="passwordHelpInline-3" matInput
              id="off_lname" name="off_lname"
              placeholder="Last Name"
              type="text" formControlName="off_lname" appTitleCase appLetters maxlength="50">
              <mat-error *ngIf="affilOfficerForm.get('off_lname')?.hasError('required')" class="error-msg">Last Name is Required</mat-error>
            </mat-form-field>
        </c-col>

        <c-col [sm]="6">
            <label cLabel="col" for="Position">Position</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              matInput
              id="Position" name="Position"
              placeholder="Position"
              type="text" formControlName="Position" appTitleCase>
              <mat-error *ngIf="affilOfficerForm.get('Position')?.hasError('required')" class="error-msg">Position is Required</mat-error>
            </mat-form-field>
          </c-col>

    </c-row>

  </c-modal-body>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!affilOfficerForm.valid">{{data ? 'Update': 'Save'}}</button>
</div>
</form>


