<!-- ADD DOSRI FORM -->
<div mat-dialog-title>
    <h3 cModalTitle>Affiliates Officer Form</h3>
</div>

<form cForm class="mb-2" [formGroup]="affilOfficerForm" (ngSubmit)="onAffilOffSubmit()">    
<div mat-dialog-content class="content">
<!-- Modal Form -->
   <c-modal-body>
    <c-row class="align-items-center">
        <c-col [sm]="12">
            <label cLabel="col" for="affildcisNumber">CIS Number</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
              <input
                aria-describedby="passwordHelpInline-3" matInput
                id="affildcisNumber" name="affildcisNumber"
                placeholder="CIS Number"
                type="text" formControlName="affildcisNumber" (keyup.enter)="CISlookup()" appNum>
                <mat-error *ngIf="affilOfficerForm.get('affildcisNumber')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
              </mat-form-field>

            
          </c-col>  
    </c-row>

    
    <c-row class="align-items-center">
      <c-col [sm]="6">
        <label cLabel="col" for="affildFirstName">First Name</label>
        <mat-form-field appearance="fill" [style.width.%]=100>
        <input
          aria-describedby="passwordHelpInline-3" matInput
          id="affildFirstName" name="affildFirstName"
          placeholder="First Name"
          type="text" formControlName="affildFirstName" [readonly]="isReadOnly" appTitleCase>
          <mat-error *ngIf="affilOfficerForm.get('affildFirstName')?.hasError('required')" class="error-msg">First Name is Required</mat-error>
        </mat-form-field>
      </c-col>
    
        <c-col [sm]="6">
            <label cLabel="col" for="affildMiddleName">Middle Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
                aria-describedby="passwordHelpInline-3" matInput
                id="affildMiddleName" name="affildMiddleName"
                placeholder="Middle Name"
                type="text" formControlName="affildMiddleName" [readonly]="isReadOnly" appTitleCase>
            </mat-form-field>
        </c-col>
    </c-row>
    
    
    <c-row class="align-items-center">    
        <c-col [sm]="6">
            <label cLabel="col" for="affildLastName">Last Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              aria-describedby="passwordHelpInline-3" matInput
              id="affildLastName" name="affildLastName"
              placeholder="Last Name"
              type="text" formControlName="affildLastName" [readonly]="isReadOnly" appTitleCase>
              <mat-error *ngIf="affilOfficerForm.get('affildLastName')?.hasError('required')" class="error-msg">Last Name is Required</mat-error>
            </mat-form-field>
        </c-col>

        <c-col [sm]="6">
            <label cLabel="col" for="affildPosition">Position</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              matInput
              id="affildPosition" name="affildPosition"
              placeholder="Position"
              type="text" formControlName="affildPosition" [readonly]="isReadOnly" appTitleCase>
              <mat-error *ngIf="affilOfficerForm.get('affildPosition')?.hasError('required')" class="error-msg">Position is Required</mat-error>
            </mat-form-field>
          </c-col>

    </c-row>

  </c-modal-body>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!affilOfficerForm.valid">{{data ? 'Update': 'Save'}}</button>
</div>
</form>


