.fixed-search-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff; /* Optional: Set the background color as needed */
    padding: 10px; /* Optional: Set padding as needed */
  }


  .red-text {
    color: red;
  }

  .green-text {
    color: green;
  }

  /* Add this style to your component's CSS file */
.selected-row {
  background-color: #bea8a1; /* Adjust the background color as needed */
}

.pdf-content {
  font-size: 10px; /* Example font size */
}