<!-- Main Container -->
<c-container fluid class="mb-3 p-0 position-relative">
    <!-- Button to open a modal -->
    <c-row>
      <c-col xs>
        <c-card class="mb-4" id="htmlData">
          <c-card-header class="d-flex justify-content-between align-items-center"><h2>SBL Monitoring List as of {{UnimpairedDate | date: 'MMMM dd, yyyy'}}</h2>
            
          </c-card-header>
          <c-card-body>
  
            
              <c-container fluid class="my-1 d-flex justify-content-between align-items-center">
                <!-- <c-row> -->
                    <mat-form-field  class="mx-2 mt-3">
                        <input matInput #filterInput (keyup.enter)="scrollToUser(filterInput.value)" placeholder="Search">
                                      <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <div>
                      <!-- <button (click)="downloadCSV()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                        <mat-icon>file_download</mat-icon>
                        CSV
                      </button> -->
                      <!-- <button (click)="generatePDF()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                        <mat-icon>file_download</mat-icon>
                        PDF
                      </button> -->
                      <button (click)="print()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                        <mat-icon>print</mat-icon>
                        Print
                      </button>
                    
                      <!-- <button (click)="openSimulation()" mat-fab extended color="primary" *appHasPermission="'add'" style="margin-right: 10px;">
                        <mat-icon>play_arrow</mat-icon>
                        Simulate
                      </button> -->
                    </div>
                <!-- </c-row> -->
              </c-container>

              <c-container fluid>
                <c-row>
                  <ng-container xs *ngFor="let account of dataSource.data; index as i">
                    <c-card class="mb-4">
                      <c-card-header class="d-flex justify-content-between align-items-center" id="{{ account.account_name }}">
                        <div>  
                          {{ account.account_name }} <button (click)="openSimulation(); calculateAvailable(sbl - calculateLoanListSummary(account.loan_list).totalPrincipalBal, calculateTotalNetHoldOut(account.loan_list))" mat-fab extended color="primary" class="add-btn-icon">Simulate</button>
                        </div>
                        <div class="mt-1">
                          <mat-form-field [style.width.%]=100>
                            <input matInput #accountFilterInput (input)="applyFilterLoanList(accountFilterInput)"
                             placeholder="Search">
                                <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                        </div>
                      </c-card-header>
                       <c-card-body>
                        <mat-table
                          [dataSource]="account.loan_list | filterLoanList: { loan_no: accountFilterInput.value, name: accountFilterInput.value } : ['loan_no', 'name']"
                          [hover]="true"
                          [responsive]="true"
                          [striped]="true"
                          align="middle"
                          cTable
                          class="mb-0 border"
                        >
                          
                          <ng-container matColumnDef="loan_no">
                          <mat-header-cell *matHeaderCellDef> PN/Loan Number </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.loan_no}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="account_name">
                            <mat-header-cell *matHeaderCellDef> Borrowers Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="loan_security">
                            <mat-header-cell *matHeaderCellDef> Collateral</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.loan_security}} </mat-cell>
                          </ng-container>

                          <!-- <ng-container matColumnDef="collateral">
                            <mat-header-cell *matHeaderCellDef> Collateral </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.loan_security}} </mat-cell>
                          </ng-container> -->

                          <ng-container matColumnDef="amount_granted">
                            <mat-header-cell *matHeaderCellDef> Amount Granted </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.principal | currency:'PHP'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="date_granted">
                            <mat-header-cell *matHeaderCellDef> Date Booked </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.date_granted | date: 'yyyy-MM-dd HH:mm:ss'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="principal_bal">
                            <mat-header-cell *matHeaderCellDef> Outstanding Balance </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.principal_bal | currency:'PHP'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="deposit_holdout" >
                            <mat-header-cell *matHeaderCellDef> Hold-Out </mat-header-cell>
                            <mat-cell *matCellDef="let element" (click)="allocateHoldOut(element)"> {{element.deposit_holdout | number: '1.2-2'}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="net_holdout">
                            <mat-header-cell *matHeaderCellDef> Net of Hold-Out </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                              {{ (element.principal_bal || 0) - (element.deposit_holdout || 0) | currency:'PHP' }}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="payment_status">
                            <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.payment_status}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'selected-row': row === selectedPN}"></mat-row>
      

                        </mat-table>

                        <c-container fluid class="my-1 d-flex justify-content-between align-items-center">
                          <!-- <c-row> -->
                              <div></div>
                              <div>
                                <c-card class="mb-4">
                                    <c-card-body>
                                      <table cTable [responsive]="true" >
                                        <tbody>
                                           <tr>
                                            <th>Total {{account.company_name}} GRP</th>
                                            
                                            <td>
                                              {{ calculateTotalNetHoldOut(account.loan_list) | currency:'PHP' }}
                                            </td>
                                            
                                            <!-- Display the hidden element to trigger the calculation -->
                                            <td style="display: none;">
                                              {{ updateTotalNetHoldOut(account) }}
                                            </td>
                                           </tr>
                                           
                                           <tr>
                                            <th>Single Borrower's Limit (25% of NW)</th>
                                            <td>  {{sbl | currency:'PHP'}} </td>
                                           </tr>
                                           
                                           <tr cTableColor="info" [ngClass]="{'green-text': sbl - calculateLoanListSummary(account.loan_list).totalPrincipalBal > 0, 'red-text': sbl - calculateLoanListSummary(account.loan_list).totalPrincipalBal <= 0}">
                                            <th>AVAILABLE</th>
                                            <td> 
                                              {{ sbl - calculateTotalNetHoldOut(account.loan_list) | currency:'PHP' }} 
                                            </td>
                                          </tr>                                          
                                           <tr>
                                            <td></td>
                                            <td></td>
                                           </tr>
                                           <tr>
                                            <th>TOTAL {{account.company_name}} GRP</th>
                                            <td> {{ calculateTotalNetHoldOut(account.loan_list)  | currency:'PHP'}} </td>
                                           </tr>
                                           
                                           <tr>
                                            <th>Internal SBL (20% of NW)</th>
                                            <td> {{internalSBL | currency:'PHP'}} </td>
                                           </tr>
                                           
                                           <tr cTableColor="info" [ngClass]="{'green-text': internalSBL - calculateLoanListSummary(account.loan_list).totalPrincipalBal > 0, 'red-text': internalSBL - calculateLoanListSummary(account.loan_list).totalPrincipalBal <= 0}">
                                            <th>AVAILABLE</th>
                                            <td>{{internalSBL - calculateTotalNetHoldOut(account.loan_list) | currency:'PHP'}}</td>
                                           </tr>
                                           
                                           
                                        </tbody>
                                      </table>
                                    </c-card-body>
                                </c-card>
                                
                              </div>
                              
                          <!-- </c-row> -->
                        </c-container>
                        </c-card-body>
                       </c-card>
                       </ng-container>

                </c-row>
              </c-container>


         </c-card-body>
        </c-card>
     </c-col>
    </c-row>


 
</c-container>



  