<!-- ADD DOSRI FORM -->
<div mat-dialog-title>
    <h3 cModalTitle>Affiliates Director Form</h3>
</div>

<form cForm class="mb-2" [formGroup]="affilDrctrForm" (ngSubmit)="onAffilDSubmit()">    
<div mat-dialog-content class="content">
<!-- Modal Form -->
   <c-modal-body>
    <c-row class="align-items-center">
        <c-col [sm]="12">
            <label cLabel="col" for="affildcisNumber">CIS Number</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
              <input
                aria-describedby="passwordHelpInline-3" matInput
                id="affildcisNumber" name="affildcisNumber"
                placeholder="CIS Number"
                type="text" formControlName="dir_CisNumber" (keyup.enter)="CISlookup()">
                <mat-error *ngIf="affilDrctrForm.get('dir_CisNumber')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
                <mat-error *ngIf="affilDrctrForm.get('dir_CisNumber')?.hasError('pattern')" class="error-msg">
                  Only AlphaNumeric characters allowed
                </mat-error>
              </mat-form-field>

          </c-col>  
    </c-row>

    
    <c-row class="align-items-center">
      <c-col [sm]="6">
        <label cLabel="col" for="affildFirstName">First Name</label>
        <mat-form-field appearance="fill" [style.width.%]=100>
        <input
          aria-describedby="passwordHelpInline-3" matInput
          id="affildFirstName" name="affildFirstName"
          placeholder="First Name"
          type="text" formControlName="off_fname" appTitleCase appLetters maxlength="50">
          <mat-error *ngIf="affilDrctrForm.get('off_fname')?.hasError('required')" class="error-msg">
            First Name is Required
          </mat-error>
          <mat-error *ngIf="affilDrctrForm.get('off_fname')?.hasError('pattern')" class="error-msg">
            Field cannot be just whitespace
          </mat-error>
        </mat-form-field>
      </c-col>
    
        <c-col [sm]="6">
            <label cLabel="col" for="affildMiddleName">Middle Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
                aria-describedby="passwordHelpInline-3" matInput
                id="affildMiddleName" name="affildMiddleName"
                placeholder="Middle Name"
                type="text" formControlName="off_mname" appTitleCase appLetters maxlength="50">
                <mat-error *ngIf="affilDrctrForm.get('off_mname')?.hasError('pattern')" class="error-msg">
                  Field cannot be just whitespace
                </mat-error></mat-form-field>
        </c-col>
    </c-row>
    
    
    <c-row class="align-items-center">    
        <c-col [sm]="6">
            <label cLabel="col" for="affildLastName">Last Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              aria-describedby="passwordHelpInline-3" matInput
              id="affildLastName" name="affildLastName"
              placeholder="Last Name"
              type="text" formControlName="off_lname" appTitleCase appLetters maxlength="50">
              <mat-error *ngIf="affilDrctrForm.get('off_lname')?.hasError('required')" class="error-msg">Last Name is Required</mat-error>
              <mat-error *ngIf="affilDrctrForm.get('off_lname')?.hasError('pattern')" class="error-msg">
                Field cannot be just whitespace
              </mat-error></mat-form-field>
        </c-col>

        <c-col [sm]="6">
            <label cLabel="col" for="affildPosition">Position</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              matInput
              id="affildPosition" name="affildPosition"
              placeholder="Position"
              type="text" formControlName="Position" appTitleCase appLetters>
              <mat-error *ngIf="affilDrctrForm.get('Position')?.hasError('required')" class="error-msg">Position is Required</mat-error>
              <mat-error *ngIf="affilDrctrForm.get('Position')?.hasError('pattern')" class="error-msg">
                Field cannot be just whitespace
              </mat-error>
            </mat-form-field>
          </c-col>

    </c-row>

  </c-modal-body>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!affilDrctrForm.valid">{{data ? 'Update': 'Save'}}</button>
</div>
</form>


