<!-- Main Container -->
<c-container fluid class="mb-3 p-0">
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Users</c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
              <tr>
                <th>
                  First Name
                </th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Mobile #</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; index as i">
                <td>
                  <div>{{ user.fName }}</div>
                </td>
                <td>
                    <div>{{ user.mName }}</div>
                </td>
                <td>
                  <div>{{ user.lName }}</div>
                </td>
                <td>
                  <div>{{ user.userName }}</div>
                </td>
                <td>
                  <div>{{ user.email }}</div>
                </td>
                <td>
                    <div>{{ user.mobile }}</div>
                </td>
                <td>
                    <i class="material-icons mx-1 align-items-center">visibility</i>
                    <i class="material-icons mx-1 align-items-center">create</i>
                </td>
                
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of data">
  </mat-paginator>
    
</c-container>
<!-- End of Main Container -->