.DRI-table {
    width: 100%;
}

.cTableCol{
     text-align: center;
     background-color: #FDE49B;
     font-size: 24px;
     color: #000;
}

.cTableCols{
    text-align: center;
    // background-color: #F7B4AE;
    font-size: 24px;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none; 
}

.cTableColsC{
    text-align: center;
    font-size: 16px;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none; 
}

.mat-column-fullname, .mat-column-position, .mat-column-shares, .mat-column-action {
  border-left: 1px solid #d3d3d3;
}

.mat-column-fullname {
    width: 35%;
    padding: 10px 24px;
    text-align: center;
  }
  
  .mat-column-position {
    width: 40%px;
    padding: 10px 4px;
    text-align: center;
  }
  
  .mat-column-shares {
    width: 30%;
    padding: 10px 4px;
    text-align: center;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
  