.DRI-table {
    width: 100%;
}

.cTableCol{
  text-align: center;
  background-color: #ffc0ad;
  font-size: 22px;
  color: #271c19;
}

.cTableRow{
  text-align: center !important;
  background-color: #f3d2c1;
  font-size: 18px;
  color: #271c19;
}

.cTableCol2{
  text-align: left;
  background-color: #947972;
  font-size: 18px;
  color: #fffffe;
}

.cTableRow2{
  text-align: left;
  background-color: #bea8a1;
  font-size: 16px;
  color: #fffffe;
  border-bottom: 2px solid #fffffe;
}

  
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }







  