.DRI-table {
    width: 100%;
}

.cTableCol{
     text-align: center;
     background-color: #FDE49B;
     font-size: 24px;
     color: #000;
}

.cTableCols{
    text-align: center;
    background-color: #F7B4AE;
    font-size: 24px;
    color: #000;
}

.cTableColsC{
    text-align: center;
    font-size: 16px;
    color: #000;
}

.mat-column-fullname {
    width: 35%;
    padding: 10px 24px;
    text-align: center;
  }
  
  .mat-column-position {
    width: 40%px;
    padding: 10px 4px;
    text-align: center;
  }
  
  .mat-column-shares {
    width: 30%;
    padding: 10px 4px;
    text-align: center;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
  