tr.example-detail-row {
  height: 0;
  overflow: hidden;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #c79c90;
  color: #ffffec;
}



.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  // display: flex;
  width: 100%;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

// .example-element-description {
//   padding: 16px;
// }

.example-element-description-attribution {
  opacity: 0.5;
}


.cTableCol{
  text-align: left;
  // background-color: rgb(100, 246, 178);
  // background-color: rgb(0, 100, 0, .4);
  background-color: #ffc0ad;
  font-size: 18px;
  color: #271c19;
}

.cTableRow{
  text-align: left;
  // background-color: rgb(148, 195, 243);
  // background-color: rgb(144, 238, 144, .7);
  background-color: #f3d2c1;
  font-size: 16px;
  color: #271c19;
}



.cTableCol2{
  text-align: left;
  // background-color: rgb(100, 246, 178);
  // background-color: rgb(0, 0, 100.4);
  background-color: #947972;
  font-size: 18px;
  color: #fffffe;
}

.cTableRow2{
  text-align: left; 
  // background-color: rgb(148, 195, 243);
  background-color: #bea8a1;
  font-size: 16px;
  color: #fffffe;
  border-bottom: 2px solid #fffffe;
}

.cTableRow2:hover {
  // background: rgb(98, 252, 178);
  background: #f3d2c1;
  color: #271c19;
  // background: rgb(0, 100, 0, .3);
  // color: #ffffff !important;
}

// .cTableRow2:active {
//   // background: rgb(98, 252, 178);
//   background: #ff9c81;
// }


.acc-access-add {
  position: absolute;
  right: 9px;
  top: 0;
}


.DRI-table {
    width: 100%;
}


.mat-column-expand, .mat-column-com_cis_number, .mat-column-com_company_name, .mat-column-directorCount, 
.mat-column-date_inserted, .mat-column-view {
  border-left: 1px solid #d3d3d3;
}

.mat-column-expandedDetail {
  padding: 0;
}

.mat-column-action {
  width: 1%;
}

.mat-column-view {
  text-align: center;
}

.mat-column-bn {
    width: 15%;
    padding: 10px 24px;
    text-align: center;
  }
  
  .mat-column-Nodirectors {
    width: 30%px;
    padding: 10px 4px;
    text-align: left;
  }
  
  .mat-column-LDUpdated {
    width: 40%;
    padding: 10px 4px;
    text-align: left;
  }


  .mat-column-dir_cisnumber {
    width: 33%;
    padding: 10px 24px;
    text-align: left;
    // background-color: aquamarine;
  }

  .mat-column-directorName {
    width: 33%;
    padding: 10px 24px;
    text-align: left;
  }

  .mat-column-position {
    width: 33%;
    padding: 10px 24px;
    text-align: left;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }


  
