<!-- Main Container -->
<!-- <c-container fluid class="mb-3 p-0 position-relative">
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center">DOSRI
          <button [cModalToggle]="staticBackdropModal.id" mat-fab extended color="primary" (click)="onButtonClick()">
              <mat-icon>add</mat-icon>
              ADD
          </button>
        </c-card-header>
        <c-card-body>
          <c-container fluid> 

            <table
              [hover]="true"
              [responsive]="true"
              [striped]="true"
              align="middle"
              cTable
              class="mb-0 border"
            >
              <thead cTableColor="light">
                <tr>
                  <th></th>
                  <th>CIS Number</th>
                  <th>Account Name</th>
                  <th>Company Name</th>
                  <th>Managing Company</th>
                  <th># of Directors</th>
                  <th>Date Updated</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let element of affDataSource.data">
                    <tr>
                      <td>
                        <button mat-icon-button (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                          <mat-icon>{{ expandedElement === element ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                        </button>
                      </td>
                      <td>{{ element.aff_com_cis_number }}</td>
                      <td>{{ element.aff_com_account_name }}</td>
                      <td>{{ element.aff_com_company_name }}</td>
                      <td>{{ element.manager }}</td>
                      <td>{{ element.directorCount }}</td>
                      <td>{{ element.date_inserted }}</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button mat-icon-button (click)="onRowClick(element)" aria-label="View Users Info">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button (click)="editAffil(element)" aria-label="Edit Users Info">
                            <mat-icon >create</mat-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
              </tbody>
            </table>

          </c-container>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container> -->



<c-container fluid class="mb-3 p-0 position-relative">
  <!-- Button to open a modal -->
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center"><h2>Affiliates and Corresponding Persons in Affiliated Companies</h2>
          
        </c-card-header>
        <c-card-body>
          
            <c-container fluid class="mb-1 d-flex justify-content-between align-items-center">
              <button (click)="downloadCSV()" mat-fab extended color="primary">
                <mat-icon>download</mat-icon>
                CSV
              </button>
              <div class="d-flex justify-content-between align-items-center">  
                <mat-form-field  class="mx-2 mt-3">
                  <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Search">
                                <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button [cModalToggle]="staticBackdropModal.id" mat-fab extended color="primary" (click)="onButtonClick('A')">
                    <mat-icon>add</mat-icon>
                    ADD
                </button>
              </div>
            </c-container>

          <c-container fluid>
            <!-- Data Table -->
            <table cTable [responsive]="true" mat-table
              [dataSource]="affDataSource" multiTemplateDataRows
              class="DRI-table" matSort>
              <tbody>
                  <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  
                  <!-- CIS Number -->
                  <ng-container matColumnDef="aff_com_cis_number">
                    <th mat-header-cell *matHeaderCellDef > CIS Number </th>
                    <td mat-cell *matCellDef="let element"> {{ element.aff_com_cis_number }} </td>
                  </ng-container>

          
                  <!-- Account Name -->
                  <ng-container matColumnDef="aff_com_account_name">
                    <th mat-header-cell *matHeaderCellDef> Account Name </th>
                    <td mat-cell *matCellDef="let element"> {{ element.aff_com_account_name }} </td>
                  </ng-container>
          
                  <!-- Name of  Company -->
                  <ng-container matColumnDef="aff_com_company_name">
                    <th mat-header-cell *matHeaderCellDef> Company Name </th>
                    <td mat-cell *matCellDef="let element"> {{ element.aff_com_company_name }} </td>
                  </ng-container>

                  
                    <!-- Directors Count -->
                    <ng-container matColumnDef="directorCount">
                      <th mat-header-cell *matHeaderCellDef> # of Directors </th>
                      <td mat-cell *matCellDef="let element">{{ element.directorCount }}</td>
                    </ng-container>
          
                  <!-- Date Updated Column -->
                  <ng-container matColumnDef="date_inserted">
                    <th mat-header-cell *matHeaderCellDef> Date Updated </th>
                    <td mat-cell *matCellDef="let element"> {{ element.date_inserted | date: 'yyyy-MM-dd HH:mm:ss'  }} </td>
                  </ng-container>

                  <!-- View Column -->
                  <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let row"> 
                      <!-- Button to view details -->
                    
                    <div class="d-flex justify-content-center">
                      <button mat-icon-button (click)="onRowClick(row, $event)" aria-label="View Users Info">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button (click)="editAffil(row, $event)" aria-label="Edit Users Info">
                        <mat-icon >create</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="delAffiliates(row, row.aff_com_cis_number, $event)" aria-label="Delete Users">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                          <!-- <button cButton class="my-1 mx-1" color="dark" (click)="onRowClick(row)">View</button>
                          <button cButton class="my-1 mx-1" color="dark">Update</button> -->
                  </td>
                  </ng-container>
          
                  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                      <div class="example-element-detail"
                          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                          <table cTable [responsive]="true" class="mat-elevation-z8 DRI-table" mat-table [dataSource]="element.directors" >
                            <!-- Business Name -->
                              <ng-container matColumnDef="aff_com_cis_number">
                                <th mat-header-cell *matHeaderCellDef> CIS Number </th>
                                <td mat-cell *matCellDef="let element"> {{ element.dir_cisnumber }} </td>
                              </ng-container>
          
                              <!-- Number of  Directors -->
                              <ng-container matColumnDef="fullname">
                                <th mat-header-cell *matHeaderCellDef> Directors Name </th>
                                <td mat-cell *matCellDef="let element"> {{ element.fname + " " + element.mname + " " + element.lname}} </td>
                              </ng-container>
          
                              <!-- Date Updated Column -->
                              <ng-container matColumnDef="aff_com_company_name">
                                <th mat-header-cell *matHeaderCellDef> Position </th>
                                <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
                              </ng-container>

          
                              <tr mat-header-row  *matHeaderRowDef="DdisplayedColumns" class="cTableCol2"></tr>
                              <tr mat-row *matRowDef="let row; columns: DdisplayedColumns;" (click)="onRowClick(element, $event)" class="cTableRow2"></tr>
                              <!-- <tr mat-row *matRowDef="let row; columns: DdisplayedColumns;"></tr> -->
                          </table>
                        <!-- </div> -->
                      </div>
                    </td>
                  </ng-container>
                  
                   <!-- Header Row with Expand Button -->
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand" class="cTableCol"></tr>
                  <!-- Data Rows with Expandable Detail -->
                  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                      class="example-element-row cTableRow"
                      [class.example-expanded-row]="expandedElement === element"
                      (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                  </tr>

                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="7">No Data Available</td>
                  </tr>
              </tbody>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of data">
       </mat-paginator>
          </c-container>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>


  
  <!-- Modals -->
  
  <c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal" size="lg">
    <c-modal-header>
      <h3 cModalTitle>Add Affiliates Company</h3>
      <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
  
    <form cForm class="mb-2" [formGroup]="affForm" (ngSubmit)="onSubmit()">
      <c-modal-body>
        <c-row class="align-items-center">
          
          <c-col [sm]="6">
              <label cLabel="col" for="affilCisNumberM">CIS Number</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>CIS Number</mat-label> -->
                <input matInput #accDinput id="affilCisNumberM" name="affilCisNumberM"
                type="text" placeholder="CIS"
                formControlName="affilCisNumberM" appNum>
                <mat-error *ngIf="affForm.get('affilCisNumberM')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
              </mat-form-field>
          </c-col>
  
          <c-col [sm]="6">
              <label cLabel="col" for="accountName">Account Name</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>Account Name</mat-label> -->
                <input matInput #accDinput id="accountName"  name="accountName"
                type="text" placeholder="Account Name"
                formControlName="accountName" appCaps>
                <mat-error *ngIf="affForm.get('accountName')?.hasError('required')" class="error-msg">Account Name is Required</mat-error>
              </mat-form-field>
              <!-- <input
                cFormControl
                > -->
          </c-col>

        </c-row>

        <c-row class="align-items-center">
  
          <c-col [sm]="12">
            <label cLabel="col" for="companyName">Company Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
              <!-- <mat-label>Company Name</mat-label> -->
              <input matInput #accDinput id="companyName" name="companyName"
              type="text" placeholder="Company Name"
              formControlName="companyName" appCaps>
              <mat-error *ngIf="affForm.get('companyName')?.hasError('required')" class="error-msg">Company Name is Required</mat-error>
            </mat-form-field>
          </c-col>
  

        </c-row>
      </c-modal-body>
      <c-modal-footer>
        <button type="submit" cButton color="success" class="proceed" [disabled]="!affForm.valid">Proceed</button>
      </c-modal-footer>
    </form>
        
  </c-modal>




  <!-- Edit Modals -->
  <c-modal id="editAffil" [visible]="editAffilvisible" (visibleChange)="handleChange($event)" size="lg">
    <c-modal-header>
      <h5 cModalTitle>Edit Affiliates Company</h5>
      <button (click)="closeEditAffil()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <!-- Modal Form -->
        <form cForm class="mb-2" [formGroup]="affForm" (ngSubmit)="onSubmit()">
          <c-modal-body>
            <c-row class="align-items-center">
              
              <c-col [sm]="6">
                  <label cLabel="col" for="affilCisNumberM">CIS Number</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>CIS Number</mat-label> -->
                    <input matInput #accDinput id="affilCisNumberM" name="affilCisNumberM"
                    type="text" placeholder="CIS"
                    formControlName="affilCisNumberM" [value]="editAffilData.com_cis_number" appNum>
                  </mat-form-field>
              </c-col>
      
              <c-col [sm]="6">
                  <label cLabel="col" for="accountName">Account Name</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>Account Name</mat-label> -->
                    <input matInput #accDinput id="accountName"  name="accountName"
                    type="text" placeholder="Account Name"
                    formControlName="accountName" [value]="editAffilData.com_account_name" appCaps>
                  </mat-form-field>
                  <!-- <input
                    cFormControl
                    > -->
              </c-col>
    
            </c-row>
    
            <c-row class="align-items-center">
      
              <c-col [sm]="12">
                <label cLabel="col" for="companyName">Company Name</label>
                <mat-form-field appearance="fill" [style.width.%]=100>
                  <!-- <mat-label>Company Name</mat-label> -->
                  <input matInput #accDinput id="companyName" name="companyName"
                  type="text" placeholder="Company Name"
                  formControlName="companyName" [value]="editAffilData.com_company_name" appCaps>
                </mat-form-field>
              </c-col>
            </c-row>
          </c-modal-body>
          <c-modal-footer>
            <button type="submit" cButton color="success">Proceed</button>
          </c-modal-footer>
        </form>
    </c-modal-body>
  </c-modal>


