<c-container fluid class="mb-3 p-0 position-relative mt-4">
    <button [cModalToggle]="staticBackdropModal.id" class="acc-access-add btn-primary rounded-pill"(click)="onButtonClick()" cButton>+ Add</button>    
  
      <c-container fluid>
        <table cTable [responsive]="true" mat-table
              [dataSource]="affDataSource" multiTemplateDataRows
              class="mat-elevation-z8 DRI-table">
  
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </ng-container>
              
          <!-- CIS Number -->
          <ng-container matColumnDef="aff_com_cis_number">
            <th mat-header-cell *matHeaderCellDef> CIS Number </th>
            <td mat-cell *matCellDef="let element"> {{ element.aff_com_cis_number }} </td>
          </ng-container>

  
          <!-- Account Name -->
          <ng-container matColumnDef="aff_com_account_name">
            <th mat-header-cell *matHeaderCellDef> Account Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.aff_com_account_name }} </td>
          </ng-container>
  
          <!-- Name of  Company -->
          <ng-container matColumnDef="aff_com_company_name">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.aff_com_company_name }} </td>
          </ng-container>

          <!-- Name of  Company -->
          <ng-container matColumnDef="managing_company">
            <th mat-header-cell *matHeaderCellDef> Managing Company </th>
            <td mat-cell *matCellDef="let element"> {{ element.managing_company }} </td>
          </ng-container>

          
            <!-- Directors Count -->
            <ng-container matColumnDef="directorCount">
              <th mat-header-cell *matHeaderCellDef> # of Directors </th>
              <td mat-cell *matCellDef="let element">{{ element.directorCount }}</td>
            </ng-container>
  
          <!-- Date Updated Column -->
          <ng-container matColumnDef="date_inserted">
            <th mat-header-cell *matHeaderCellDef> Date Updated </th>
            <td mat-cell *matCellDef="let element"> {{ element.date_inserted }} </td>
          </ng-container>

          <!-- View Column -->
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row"> 
              <!-- Button to view details -->
                <i class="material-icons mx-1 align-items-center" (click)="onRowClick(row)">visibility</i>
                <i class="material-icons mx-1 align-items-center">create</i>
                  <!-- <button cButton class="my-1 mx-1" color="dark" (click)="onRowClick(row)">View</button>
                  <button cButton class="my-1 mx-1" color="dark">Update</button> -->
           </td>
          </ng-container>
  
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <!-- <div class="example-element-diagram">
                  <div class="example-element-position"> {{element.bn}} </div>
                  <div class="example-element-symbol"> {{element.Nodirectors}} </div>
                  <div class="example-element-name"> {{element.LDUpdated}} </div>
                  <div class="example-element-weight"> {{element.view}} </div>
                </div>
                <div class="example-element-description">
                  {{element.description}} -->
        <!--           
                  <span class="example-element-description-attribution"> -- Wikipedia </span> -->
                  <table cTable [responsive]="true" class="mat-elevation-z8 DRI-table" mat-table [dataSource]="element.directors" >
                    <!-- Business Name -->
                      <ng-container matColumnDef="aff_com_cis_number">
                        <th mat-header-cell *matHeaderCellDef> CIS Number </th>
                        <td mat-cell *matCellDef="let element"> {{ element.dir_cisnumber }} </td>
                      </ng-container>
  
                      <!-- Number of  Directors -->
                      <ng-container matColumnDef="fullname">
                        <th mat-header-cell *matHeaderCellDef> Directors Name </th>
                        <td mat-cell *matCellDef="let element"> {{ element.fname + " " + element.mname + " " + element.lname}} </td>
                      </ng-container>
  
                      <!-- Date Updated Column -->
                      <ng-container matColumnDef="aff_com_company_name">
                        <th mat-header-cell *matHeaderCellDef> Position </th>
                        <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
                      </ng-container>

  
                      <tr mat-header-row  *matHeaderRowDef="DdisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: DdisplayedColumns;" (click)="onRowClick(row)"></tr>
                      <!-- <tr mat-row *matRowDef="let row; columns: DdisplayedColumns;"></tr> -->
                  </table>
                <!-- </div> -->
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of data">
          </mat-paginator>
      </c-container>
  
</c-container>


  
  <!-- Modals -->
  
  <c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal" size="lg">
    <c-modal-header>
      <h3 cModalTitle>Add Affiliates Company</h3>
      <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
  
    <form cForm class="mb-2" [formGroup]="affForm" (ngSubmit)="onSubmit()">
      <c-modal-body>
        <c-row class="align-items-center">
          
          <c-col [sm]="6">
              <label cLabel="col" for="affilCisNumberM">CIS Number</label>
              <mat-form-field appearance="outline" [style.width.%]=100>
                <!-- <mat-label>CIS Number</mat-label> -->
                <input matInput #accDinput id="affilCisNumberM" name="affilCisNumberM"
                type="text" placeholder="CIS"
                formControlName="affilCisNumberM">
                <!-- <mat-hint>{{accDinput.value.length}}/50</mat-hint> -->
              </mat-form-field>
              <!-- <input
                aria-describedby="passwordHelpInline-3"cFormControl
                id="affilCisNumberM" name="affilCisNumberM"
                placeholder="CIS"
                type="text"
                formControlName="affilCisNumberM"> -->
          </c-col>
  
          <c-col [sm]="6">
              <label cLabel="col" for="accountName">Account Name</label>
              <mat-form-field appearance="outline" [style.width.%]=100>
                <!-- <mat-label>Account Name</mat-label> -->
                <input matInput #accDinput id="accountName"  name="accountName"
                type="text" placeholder="Account Name"
                formControlName="accountName">
                <!-- <mat-hint>{{accDinput.value.length}}/50</mat-hint> -->
              </mat-form-field>
              <!-- <input
                cFormControl
                > -->
          </c-col>

          
  
          <!-- <c-col [sm]="3">
              <label cLabel="col" for="prodT">P2M/P2E</label>
              <select aria-label="Default select example" cSelect>
                <option>P2M/P2E</option>
                <option value="1">P2M</option>
                <option value="2">P2E</option>
              </select>
          </c-col> -->
        </c-row>

        <c-row class="align-items-center">
  
          <c-col [sm]="6">
            <label cLabel="col" for="companyName">Company Name</label>
            <mat-form-field appearance="outline" [style.width.%]=100>
              <!-- <mat-label>Company Name</mat-label> -->
              <input matInput #accDinput id="companyName" name="companyName"
              type="text" placeholder="Company Name"
              formControlName="companyName">
              <!-- <mat-hint>{{accDinput.value.length}}/50</mat-hint> -->
            </mat-form-field>
            <!-- <input
              cFormControl
              id="companyName" name="companyName"
              placeholder="Business Name"
              type="text"
              formControlName="companyName"> -->
          </c-col>
  
          <c-col [sm]="6">
            <label cLabel="col" for="MngComp">Managing Company</label>
            <mat-form-field appearance="outline" [style.width.%]="100">
              <mat-select formControlName="commandControl" placeholder="Managing Company">
                <mat-option id="MngComp">-- None --</mat-option>
                <mat-option *ngFor="let group of commandGroups" [value]="group.value">
                  {{ group.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <label cLabel="col" for="MngComp">Managing Company</label>
            <input
              cFormControl
              id="companyName" name="companyName"
              placeholder="Managing Company"
              type="text"
              formControlName="companyName"> -->
          </c-col>

          
  
          <!-- <c-col [sm]="3">
              <label cLabel="col" for="prodT">P2M/P2E</label>
              <select aria-label="Default select example" cSelect>
                <option>P2M/P2E</option>
                <option value="1">P2M</option>
                <option value="2">P2E</option>
              </select>
          </c-col> -->
        </c-row>
      </c-modal-body>
      <c-modal-footer>
        <button type="submit" cButton color="success">Proceed</button>
      </c-modal-footer>
    </form>
        
  </c-modal>