/* OTP */
.otp {
    background-color: rgba(126, 124, 124, 0.5) ;
  }
 
  
  #otp-message {
    margin-top: 20px;
  }
  
  .resend-link {
    color: #fffffe;
  }
  
  .wrap-otp {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
  }
