<div class="bg-clight min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-card-group class="cCard-group">
          <c-card class="p-4 bg">
            <c-card-body>
              <!-- <form cForm (ngSubmit)="login()"> -->
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                
                <form [formGroup]="loginForm">

                  <c-row class="align-items-center">
                    <c-col [sm]="12">
                      <!-- <label cLabel="col" for="userName">User Name</label> -->
                      <mat-form-field appearance="outline" [style.width.%]=100>
                        <!-- <mat-label>Company Name</mat-label> -->
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <input matInput #accDinput id="userName" name="userName"
                        type="text" placeholder="Username" formControlName="username" autoComplete="username">
                        
                        <mat-error *ngIf="loginForm.get('username')?.hasError('required')" class="error-msg">User Name is Required</mat-error>
                      </mat-form-field>
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col [sm]="12">
                        <!-- <label cLabel="col" for="uPass">Password</label> -->
                        <mat-form-field appearance="outline" [style.width.%]=100>
                            <!-- <mat-label>Company Name</mat-label> -->
                            <mat-icon matPrefix>lock</mat-icon>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="uPass" formControlName="password"  autoComplete="current-password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            
                            <mat-error *ngIf="loginForm.get('password')?.hasError('required')" class="error-msg">Password is Required</mat-error>
                        </mat-form-field>
                      </c-col>
                  </c-row>

                  <c-row>
                    <c-col xs="6">
                      <button cButton type="submit" (click)="login()" class="px-4" color="cprimary">Login</button>
                    </c-col>
                  </c-row>
                </form>

                
                <!-- <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="login()">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row> -->
              <!-- </form> -->
            </c-card-body>
          </c-card>
          <!-- <c-card [ngStyle]="{'width.%': 100}" class="text-white bg-cprimary py-5" >
            <c-card-body class="text-center" hidden>
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card> -->
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>



<!-- OTP MODAL -->
<div class="modal otp fade" #otpModal id="modal-otp" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
    <div class="modal-inner-content">
      <div class="modal-body text-center">
                      <span class="login100-form-title mb-3">
                        Enter verification code
                      </span>

                      <!-- <form cForm class="mb-2" (ngSubmit)="onSubmit()"> -->
                          <div class="wrap-otp validate-input">
                                     <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config" [attr.autofocus]="true"></ng-otp-input>
                          </div> 
                          <div class="container-login100-form-btn">
                              <div id="otp-message"></div>
                              <button cButton class="px-0 resend-link mb-3" color="link" href="#" id="resend-link" (click)="resendOTP()">Resend OTP</button>
                           </div>
                      <!-- </form> -->

                          <div class="container-login100-form-btn">
                              <div class="wrap-login100-form-btn">
                                  <div class="login100-form-bgbtn"></div>
                                  <button id="confirm-otp" cButton class="px-4" color="primary" (click)="verifyOtp()">
                                      Confirm
                                  </button>
                              </div>
                          </div>
                      
                  </div>
              </div>
      </div>
    </div>
</div>
		

