<!-- ADD Affiliates FORM -->
<div mat-dialog-title>
    <c-modal-header>
        <h3 cModalTitle>Update Company </h3>
    </c-modal-header>
</div>
<form cForm class="mb-2" [formGroup]="affForm" (ngSubmit)="onSubmit()">    
    <div mat-dialog-content class="content">
        <!-- Modal Form -->
        <c-modal-body>
          <c-row class="align-items-center">
             <!-- CIS Number Input -->

             <c-col [sm]="6">
                <label cLabel="col" for="affilCisNumberM">CIS Number</label>
                <mat-form-field appearance="fill" [style.width.%]=100>
                  <!-- <mat-label>CIS Number</mat-label> -->
                  <input matInput #accDinput id="affilCisNumberM" name="affilCisNumberM"
                  type="text" placeholder="CIS" (keyup.enter)="CISlookup()"
                  formControlName="aff_com_cis_number">
                  <mat-error *ngIf="affForm.get('aff_com_cis_number')?.hasError('required')" class="error-msg">CIS 123 is Required</mat-error>
                  <mat-error *ngIf="affForm.get('aff_com_cis_number')?.hasError('pattern')" class="error-msg">
                    Field cannot be just whitespace
                  </mat-error>
                </mat-form-field>
            </c-col>
    
            <c-col [sm]="6">
                <label cLabel="col" for="accountName">Account Name</label>
                <mat-form-field appearance="fill" [style.width.%]=100>
                  <!-- <mat-label>Account Name</mat-label> -->
                  <input matInput #accDinput id="accountName"  name="accountName"
                  type="text" placeholder="Account Name"
                  formControlName="aff_com_comp_name" appCaps appLetters>
                  <mat-error *ngIf="affForm.get('aff_com_comp_name')?.hasError('required')" class="error-msg">Account Name is Required</mat-error>
                  <mat-error *ngIf="affForm.get('aff_com_comp_name')?.hasError('pattern')" class="error-msg">
                    Field cannot be just whitespace
                  </mat-error>
                </mat-form-field>
            </c-col>
          </c-row>
  
            <!-- Company Name Input -->
        <c-row class="align-items-center">
            <c-col [sm]="6">
                <label cLabel="col" for="companyName">Company Name</label>
                <mat-form-field appearance="fill" [style.width.%]=100>
                  <!-- <mat-label>Company Name</mat-label> -->
                  <input matInput #accDinput id="companyName" name="companyName"
                  type="text" placeholder="Company Name" formControlName="aff_com_account_name" appCaps appLetters>
                  <mat-error *ngIf="affForm.get('aff_com_account_name')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
                  <mat-error *ngIf="affForm.get('aff_com_account_name')?.hasError('pattern')" class="error-msg">
                    Field cannot be just whitespace
                  </mat-error>
                </mat-form-field>
              </c-col>
      
              <c-col [sm]="6">
                <label cLabel="col" for="MngComp">Parent Company</label>
                <mat-form-field appearance="fill" [style.width.%]="100">
                  <mat-select formControlName="managing_company" placeholder="Managing Company" id="MngComp" name="MngComp">
                    <mat-option id="MngComp">-- None --</mat-option>
                    <mat-option *ngFor="let group of commandGroups" [value]="group.value">
                      {{ group.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </c-col>
          </c-row>


          
        </c-modal-body>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
        <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!affForm.valid">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>

