.DRI-table {
    min-width: 2500px;
    max-width:max-content;
}

.cTableCol{
     text-align: center;
     background-color: #B5E3E8;
     font-size: 28px;
     color: #000;
}

.cTableCols{
    text-align: center;
    background-color: #F7B4AE;
    font-size: 28px;
    color: #000;
}

.acc-access-add {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 3px;;
  }

.add-button {
    padding: 3px;
    font-size: 10px;
    right: 2px;
    top: 2px;
    position: absolute;
}

.sub-button {
    padding: 3px;
    font-size: 10px;
    // right: 2px;
    // top: 2px;
    color: #fff;
    // position: absolute;
}


.mat-column-FullName, .mat-column-Company, .mat-column-Position,
.mat-column-MothersName, .mat-column-FathersName,
.mat-column-Spouse, .mat-column-Children, .mat-column-MotherinLaw, .mat-column-FatherinLaw {
   width: 11%;
   position: relative;
   // display: flex;
   text-align: left;
   border-left: 1px solid #d3d3d3;
}

// .mat-column-bn {
//     width: 15%;
//     padding: 10px 24px;
//     text-align: center;
//   }
  
//   .mat-column-Nodirectors {
//     width: 30%px;
//     padding: 10px 4px;
//     text-align: center;
//   }
  
//   .mat-column-LDUpdated {
//     width: 40%;
//     padding: 10px 4px;
//     text-align: center;
//   }
  
//   .mat-mdc-row .mat-mdc-cell {
//     cursor: pointer;
//   }
  