<c-container fluid class="mb-3 p-0 position-relative">
    <c-row>
        <c-col xs>
            <c-card class="mb-4">
                <c-card-header class="d-flex justify-content-between align-items-center">
                    <h2>Companies Under JMN</h2>
                    
                </c-card-header>
                <c-row>
                  <c-container class="my-1 d-flex justify-content-between align-items-center">
                    <div></div>
                    <button class="mx-1" (click)="openAddEditEmpForm()" mat-fab extended color="primary" (click)="onButtonClick('JMN')" *appHasPermission="'add'">
                      <mat-icon>add</mat-icon>
                      ADD
                  </button>
                  </c-container>
                </c-row>
            </c-card>
        </c-col>
    </c-row>
</c-container>

<div id="org-chart-container" appResizable class="org-chart-container">
</div>
<!--PopOver-->
<div #nodePopover id="nodePopover" class="pop" style="display: none;">
    <h5>Node Details</h5>
    <p id="nodeDetails" #nodeDetails></p>
</div>



                        <div class="modal fade" #actionModal tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
  
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="actionModalLabel">Select an Action</h5>
                                  <button (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <button class="btn btn-primary" id="addButton" (click)="onButtonClick('JMN')" (click)="AddChildComp($event)">Add Child</button>
                                  <button class="btn btn-primary" id="updateButton" (click)="closeModal()" (click)="openEditForm($event)">Update Company</button>
                                  <button class="btn btn-primary" id="detailsButton" (click)="onButtonClick('JMN')" (click)="viewData($event)">Show Details</button>
                                </div>
                              </div>
                            </div>
                        </div>


<!-- Modal Dialog for Actions -->

<!-- Modals -->
