<!-- ADD DOSRI FORM -->
<div mat-dialog-title>
    <h3 cModalTitle>Related Interest Form</h3>
</div>

<form cForm class="mb-2" [formGroup]="affilDirRiForm" (ngSubmit)="onDirRISubmit()">    
<div mat-dialog-content class="content">
<!-- Modal Form -->
   <c-modal-body>
    <c-row class="align-items-center">
      <c-col [sm]="6">
        <label cLabel="col" for="riCisNumber">CIS Number</label>
        <mat-form-field appearance="fill" [style.width.%]=100>
        <input
            aria-describedby="passwordHelpInline-3" matInput
            id="riCisNumber" name="riCisNumber"
            placeholder="CIS Number"
            type="text" formControlName="riCisNumber" (keyup.enter)="CISlookup()">
            <mat-error *ngIf="affilDirRiForm.get('riCisNumber')?.hasError('pattern')" class="error-msg">
              Only AlphaNumeric characters allowed
            </mat-error>
          </mat-form-field>
      </c-col>

      <c-col [sm]="6">
        <label cLabel="col" for="riFirstName">First Name</label>
        <mat-form-field appearance="fill" [style.width.%]=100>
        <input
          aria-describedby="passwordHelpInline-3" matInput
          id="riFirstName" name="riFirstName"
          placeholder="First Name"
          type="text" formControlName="riFirstName" appTitleCase appLetters maxlength="50">
          <mat-error *ngIf="affilDirRiForm.get('riFirstName')?.hasError('required')" class="error-msg">First Name is Required</mat-error>
          <mat-error *ngIf="affilDirRiForm.get('riFirstName')?.hasError('pattern')" class="error-msg">
            Field cannot be just whitespace
          </mat-error>
        </mat-form-field>
    </c-col>
    </c-row>
      
    <c-row class="align-items-center">
        <c-col [sm]="6">
            <label cLabel="col" for="riMiddleName">Middle Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
                aria-describedby="passwordHelpInline-3" matInput
                id="riMiddleName" name="riMiddleName"
                placeholder="Middle Name"
                type="text" formControlName="riMiddleName" appTitleCase appLetters maxlength="50">
                <mat-error *ngIf="affilDirRiForm.get('riMiddleName')?.hasError('pattern')" class="error-msg">
                  Field cannot be just whitespace
                </mat-error>
              </mat-form-field>
        </c-col>

        <c-col [sm]="6">
            <label cLabel="col" for="riLastName">Last Name</label>
            <mat-form-field appearance="fill" [style.width.%]=100>
            <input
              aria-describedby="passwordHelpInline-3" matInput
              id="riLastName" name="riLastName"
              placeholder="Last Name"
              type="text" formControlName="riLastName" appTitleCase appLetters maxlength="50">
              <mat-error *ngIf="affilDirRiForm.get('riLastName')?.hasError('required')" class="error-msg">Last Name is Required</mat-error>
              <mat-error *ngIf="affilDirRiForm.get('riLastName')?.hasError('pattern')" class="error-msg">
                Field cannot be just whitespace
              </mat-error>
            </mat-form-field>
        </c-col>
    </c-row>

  </c-modal-body>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!affilDirRiForm.valid">{{data ? 'Update': 'Save'}}</button>
</div>
</form>


