<!-- ADD Affiliates FORM -->
<div mat-dialog-title>
    <c-modal-header>
        <h3 cModalTitle>Users Form</h3>
    </c-modal-header>
</div>
<form cForm class="mb-2" [formGroup]="userForm"  (ngSubmit)="onUserSubmit()">    
    <div mat-dialog-content class="content">
        <!-- Modal Form -->
        <c-modal-body>
            <c-row class="align-items-center">
                
                <c-col [sm]="4">
                    <label cLabel="col" for="fName">First Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>First Name</mat-label> -->
                      <input matInput #accDinput id="fName" name="fName"
                      type="text" placeholder="First Name" formControlName="fName" appTitleCase>
                      <mat-error *ngIf="userForm.get('fName')?.hasError('required')" class="error-msg">First Name is Required</mat-error>
                    </mat-form-field>
                </c-col>
        
                <c-col [sm]="4">
                    <label cLabel="col" for="mName">Middle Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Middle Name</mat-label> -->
                      <input matInput #accDinput id="mName"  name="mName"
                      type="text" placeholder="Middle Name" formControlName="mName" appTitleCase>
                      <mat-error *ngIf="userForm.get('mName')?.hasError('required')" class="error-msg">Niddle Name is Required</mat-error>
                    </mat-form-field>
                </c-col>

                <c-col [sm]="4">
                    <label cLabel="col" for="lName">Last Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Last Name</mat-label> -->
                      <input matInput #accDinput id="lName"  name="lName"
                      type="text" placeholder="Last Name" formControlName="lName" appTitleCase>
                      <mat-error *ngIf="userForm.get('lName')?.hasError('required')" class="error-msg">Last Name is Required</mat-error>
                    </mat-form-field>
                </c-col>
      
              </c-row>
      
              <c-row class="align-items-center">
                <c-col [sm]="6">
                  <label cLabel="col" for="uEmail">Email</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>Company Name</mat-label> -->
                    <input matInput #accDinput id="uEmail" name="uEmail" appLowerCase
                    type="text" placeholder="Email Address" formControlName="email">
                    <mat-error *ngIf="userForm.get('email')?.hasError('required')" class="error-msg">Email is Required</mat-error>
                    <mat-error *ngIf="userForm.get('email')?.hasError('email')" class="error-msg">Invalid Email Format</mat-error>
                  </mat-form-field>
                </c-col>

                <c-col [sm]="6">
                    <label cLabel="col" for="uMobile">Mobile Number</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Company Name</mat-label> -->
                      <input matInput #accDinput id="uMobile" name="uMobile"
                      type="text" placeholder="Mobile Number" formControlName="mobile" appNum>
                      <mat-error *ngIf="userForm.get('mobile')?.hasError('required')" class="error-msg">Mobile # is Required</mat-error>
                      <mat-error *ngIf="userForm.get('mobile')?.hasError('minLength')" class="error-msg">Mobile # must be 11 digit long</mat-error>
                      <mat-error *ngIf="userForm.get('mobile')?.hasError('maxLength')" class="error-msg">Mobile # must be only 11 digit long</mat-error>
                    </mat-form-field>
                </c-col>
              </c-row>

              <c-row class="align-items-center">
                <c-col [sm]="6">
                  <label cLabel="col" >Role</label>
                  <mat-form-field [style.width.%]="100" >
                    <mat-select #matSelect formControlName="role" placeholder="Role" id="role" name="role">
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let roles of role" [value]="roles.value">
                        {{ roles.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.get('role')?.hasError('required')" class="error-msg">Role is Required</mat-error>
                  </mat-form-field>
                </c-col>

                <c-col [sm]="6">
                  <label cLabel="col" >Department</label>
                  <mat-form-field appearance="fill" [style.width.%]="100" >
                    <mat-select formControlName="commandControl" placeholder="Department" id="uDept" name="uDept">
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let group of commandGroups" [value]="group.value">
                        {{ group.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.get('commandControl')?.hasError('required')" class="error-msg">Department is Required</mat-error>
                  </mat-form-field>
                </c-col>
              </c-row>

              
              <c-row class="align-items-center">
                <c-col [sm]="6">
                  <label cLabel="col" for="userName">User Name</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>Company Name</mat-label> -->
                    <input matInput #accDinput id="userName" name="userName"
                    type="text" placeholder="User Name" formControlName="userName">
                    
                    <mat-error *ngIf="userForm.get('userName')?.hasError('required')" class="error-msg">User Name is Required</mat-error>
                  </mat-form-field>
                </c-col>

                <c-col [sm]="6">
                    <label cLabel="col" for="uPass">Password</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                        <!-- <mat-label>Company Name</mat-label> -->
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="uPass" formControlName="uPass">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        
                      <mat-error *ngIf="userForm.get('uPass')?.hasError('required')" class="error-msg">Password is Required</mat-error>
                      </mat-form-field>
                  </c-col>
              </c-row>

        </c-modal-body>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
        <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>

