<c-container fluid class="mb-3 p-0">
    <c-row>
      <c-col xs>
        <c-card class="mb-4">
          <c-card-header class="d-flex justify-content-between align-items-center"><h2>RPT Transaction</h2>
          </c-card-header>
          <c-card-body>
                <c-container fluid class="my-3">
                      
                    <c-container fluid class="px-0 d-flex justify-content-between align-items-center">
                        <!-- <c-row> -->
                          <div>

                            <button (click)="openChecker()" mat-fab extended color="primary"  style="margin-right: 10px;">
                                <mat-icon>search</mat-icon>
                                RPT Transaction LookUp
                                </button>
                          </div>
                        <!-- </c-row> -->
                    </c-container>

                    <c-container fluid class="px-0 mt-3">
                        <c-row class="my-1 d-flex justify-content-between align-items-end">
                          <c-col>
                            <c-card>
                              <c-card-body>


                                
                                <mat-accordion class="example-headers-align" multi>
                                  <!-- Data_RI panel -->
                                  <mat-expansion-panel *ngIf="(selectedData)">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title class="title">Related Interests</mat-panel-title>
                                    </mat-expansion-panel-header>
                                  
                                    <table mat-table [dataSource]="selectedData[0].Data_RI" class="mat-elevation-z8">
                                      <!-- Column Definitions -->
                                      <ng-container *ngFor="let column of displayedColumns2" [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                                        <td mat-cell *matCellDef="let item">{{ item[column] }}</td>
                                      </ng-container>


                                      <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell text-center" colspan="12">No Data Available</td>
                                      </tr>
                                  
                                      <!-- Header Row -->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                  
                                      <!-- Data Rows -->
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                    </table>
                                  </mat-expansion-panel>
                                
                                  <!-- Data_PN panel -->
                                  <mat-expansion-panel *ngIf="(selectedData)">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title class="title">Personal Loans</mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <table mat-table [dataSource]="selectedData[0].Data_PN" class="mat-elevation-z8">
                                      <!-- Column Definitions -->
                                      <ng-container *ngFor="let column of displayedColumns2" [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                                        <td mat-cell *matCellDef="let item">{{ item[column] }}</td>
                                      </ng-container>
                                  
                                      <!-- Header Row -->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                  
                                      <!-- Data Rows -->
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                    </table>
                                  </mat-expansion-panel>
                                
                                  <!-- Data_Bonds panel -->
                                  <mat-expansion-panel *ngIf="(selectedData)">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title class="title">Corporate Bonds</mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <table mat-table [dataSource]="selectedData[0].Data_Bonds" class="mat-elevation-z8">
                                      <!-- Column Definitions -->
                                      <ng-container *ngFor="let column of displayedColumns3"  [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                                        <td mat-cell *matCellDef="let item">{{ item[column] }}</td>
                                      </ng-container>
                                      
                                      <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell text-center" colspan="11">No Data Available</td>
                                      </tr>
                                      <!-- Header Row -->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                                  
                                      <!-- Data Rows -->
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                                    </table>
                                  </mat-expansion-panel>
                                </mat-accordion>

                                <!-- <table>
                                    <thead>
                                      <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Age</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let row of rowData">
                                        <td>{{ row.id }}</td>
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.age }}</td>
                                      </tr>
                                    </tbody>
                                </table> -->

                              </c-card-body>
                            </c-card>
                          </c-col>
                        </c-row>
                    </c-container>



                 
                </c-container>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
</c-container>
