.cTableRow{
    text-align: left;
    background-color: #f3d2c1;
    font-size: 16px;
    color: #271c19;
  }
  
  .cTableCol2{
    text-align: left;
    background-color: #947972;
    font-size: 18px;
    color: #fffffe;
  }
  

  .DRI-table {
    width: 100%;
}

