.cTableRow{
  text-align: left;
  // background-color: rgb(148, 195, 243);
  // background-color: rgb(144, 238, 144, .7);
  background-color: #bea8a1;
  font-size: 16px;
  color: #fffffe;
  border-bottom: 2px solid #efefef;
}
  
  .cTableCol2{
    text-align: left;
    background-color: #947972;
    font-size: 18px;
    color: #fffffe;
  }
  

  .DRI-table {
    width: 100%;
    padding: 0 20px;
}



.mat-column-date_inserted, .mat-colum-action_name, .mat-column-user_name {
  padding: 10px 30px;
}