.cTableRow{
    text-align: left;
    background-color: #f3d2c1;
    font-size: 16px;
    color: #271c19;
  }
  
  .cTableCol2{
    text-align: left;
    background-color: #947972;
    font-size: 18px;
    color: #fffffe;
  }
  

  .DRI-table {
    width: 100%;
    padding: 0 20px;
}



.mat-column-date_inserted, .mat-colum-action_name, .mat-column-user_name {
  padding: 10px 30px;
}