<!--Main Container-->
<c-container fluid class="mb-3 p-0 position-relative">
    <!-- Button to open a modal -->
    <c-row>
      <c-col xs>
        <c-card class="mb-4">
          <c-card-header class="d-flex justify-content-between align-items-center"><h2>Audit Logs</h2>
            
          </c-card-header>
          <c-card-body>
            
              <c-container fluid class="mb-1 d-flex justify-content-between align-items-center">
                <!-- <button (click)="downloadCSV()" mat-fab extended color="primary">
                  <mat-icon>download</mat-icon>
                  CSV
                </button> -->
                <div></div>
                <div class="d-flex justify-content-between align-items-center">  
                  <mat-form-field  class="mx-2 mt-3">
                    <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Search">
                                  <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
              </c-container>
  
            <c-container fluid>
              <!-- Data Table -->
              <table cTable [responsive]="true" mat-table
                [dataSource]="logsDataSource" multiTemplateDataRows
                class="DRI-table" matSort>
                <tbody>
                   
                    <!-- Time Stamp -->
                    <ng-container matColumnDef="user_id">
                        <th mat-header-cell *matHeaderCellDef> User </th>
                        <td mat-cell *matCellDef="let element"> {{ element.user_id }} </td>
                    </ng-container>

                     <!-- Activity Name -->
                     <ng-container matColumnDef="activity">
                        <th mat-header-cell *matHeaderCellDef> Activity </th>
                        <td mat-cell *matCellDef="let element"> {{ element.activity }} </td>
                      </ng-container>

                    <!-- User -->
                    <ng-container matColumnDef="datetime_inserted">
                      <th mat-header-cell *matHeaderCellDef> Date Added </th>
                      <td mat-cell *matCellDef="let element"> {{ element.datetime_inserted | date: 'yyyy-MM-dd HH:mm:ss'  }} </td>
                    </ng-container>
                    
  
                    <tr mat-header-row  *matHeaderRowDef="columnsToDisplay" class="cTableCol2"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay" class="example-detail-row cTableRow"></tr>
  
                    <tr class="mat-row" *matNoDataRow class="cTableRow">
                      <td class="mat-cell text-center" colspan="5">No Data Available</td>
                    </tr>
                </tbody>
              </table>
              <!-- Add matPaginator directive for pagination if needed -->
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            </c-container>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
<!--End of Main Container-->
