.DRI-table {
    width: 100%;
}

.cTableCol{
     text-align: center;
     background-color: #8ea9db;
     font-size: 28px;
     color: #000;
}

.cTableCols{
    text-align: center;
    background-color: #FFC599;
    font-size: 28px;
    color: #000;
}

.add-button-spouse {
    padding: 3px;
    font-size: 10px;
    right: 2px;
    top: 2px;
    position: absolute;
}

.add-button-children {
    padding: 3px;
    font-size: 10px;
    right: 2px;
    top: 2px;
    color: #fff;
    // position: absolute;
}

.sub-button-children {
    padding: 3px;
    font-size: 10px;
    right: 2px;
    top: 2px;
    color: #fff;
     position: absolute;
}

.add-button-fatherinlaw {
    padding: 3px;
    font-size: 10px;
    right: 2px;
    top: 2px;
    position: absolute;
}

.add-button-motherinlaw {
    padding: 1px 2px;
    font-size: 12px;
    right: 2px;
    top: 2px;
    position: absolute;
}

.mat-column-company {
    background-color: #fff;
}

// .mdc-data-table__row:last-child .mat-mdc-cell {
//     background: #fff;
// }
.mat-column-spouse {
    width: 10%;
    position: relative;
    // display: flex;
    // text-align: center;
}

.mat-column-children {
    position: relative;
    // display: flex;
    // text-align: center;
}

.mat-column-fatherinlaw {
    position: relative;
}

.mat-column-motherinlaw {
    position: relative;
}
// .mat-column-bn {
//     width: 15%;
//     padding: 10px 24px;
//     text-align: center;
//   }
  
//   .mat-column-Nodirectors {
//     width: 30%px;
//     padding: 10px 4px;
//     text-align: center;
//   }
  
//   .mat-column-LDUpdated {
//     width: 40%;
//     padding: 10px 4px;
//     text-align: center;
//   }
  
//   .mat-mdc-row .mat-mdc-cell {
//     cursor: pointer;
//   }





.example-container {
    height: 400px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
  