.DRI-table {
    min-width: 5000px;
    max-width:max-content;
    background-color: #fff;
}

tr.example-detail-row {
    height: 0;
    overflow: hidden;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    // background: rgb(98, 252, 178);
    background: whitesmoke;
    // background: rgb(0, 100, 0, .3);
    // color: #ffffff !important;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    // background: rgb(98, 252, 178);
    background: rgb(0, 100, 0, .3);
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    // display: flex;
    width: 100%;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  // .example-element-description {
  //   padding: 16px;
  // }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }


.cTableCol{
    text-align: left;
    // background-color: rgb(100, 246, 178);
    // background-color: rgb(84, 152, 84);
    background-color: #fef6e4;
    font-size: 18px;
    // color: #ffffff;
    color:#172c66;
  }
  
  .cTableRow{
    text-align: left;
    // background-color: rgb(148, 195, 243);
    // background-color: rgb(144, 238, 144, .7);
    background-color: rgb(187, 242, 187);
    font-size: 16px;
    color: #000;
    border-bottom: 2px solid #efefef;
  }
  


.add-button {
    padding: 3px;
    font-size: 10px;
    right: 2px;
    top: 2px;
    position: absolute;
}

.sub-button {
    padding: 3px;
    font-size: 10px;
    // right: 2px;
    // top: 2px;
    color: #fff;
    // position: absolute;
}

.add-icon {
    padding: 3px;
    font-size: 23px;
    right: 2px;
    top: -2px;
    position: absolute;
}

.d-sub-icon{
    height: 0px;
    margin: 0;
}


.sub-icon {
    font-size: 21px;
}

.mat-column-Company, .mat-column-MothersName, .mat-column-FathersName, .mat-column-Siblings,
 .mat-column-Spouse, .mat-column-Children, .mat-column-MotherinLaw, 
 .mat-column-FatherinLaw, .mat-column-stepChild, .mat-column-sonDaughterInLaw, 
 .mat-column-grandParents, .mat-column-grandParentsInLaw, .mat-column-sistersInLaw,
 .mat-column-brothersInLaw, .mat-column-grandChildren, .mat-column-grandChildrenInLaw  {
    width: 2.06%;
    position: relative;
    // display: flex;
    text-align: left;
    // background-color: #fff;
    border-left: 1px solid #d3d3d3;
}

.mat-column-FullName {
    width: 3%;
    position: relative;
    text-align: left;
    background-color: rgb(187, 242, 187);
    border-left: 1px solid #d3d3d3;
}

.mat-column-Position {
    width: 1.04%;
    position: relative;
    // display: flex;
    text-align: left;
    background-color: rgb(187, 242, 187);
    border-left: 1px solid #d3d3d3;
}

.example-container {
    height: 400px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  

  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
  
  