<c-container class="mb-3 p-0 mat-elevation-z8" tabindex="0">
    <table cTable bordered [responsive]="true" class=" DRI-table" mat-table [dataSource]="dataSource" >
        
        <!-- Header row first group -->
        <ng-container matColumnDef="header-row-first-group">
            <th  *matHeaderCellDef cTableColor class="cTableCol"
                
                [attr.colspan]="18"> 
            Prescription Holding Limited, Inc. 
            </th>
        </ng-container>



        <!-- Company Column -->
        <ng-container matColumnDef="company" sticky>
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell-company"> Company </th>
            <td mat-cell *matCellDef="let element" class="mat-cell-company"> {{element.company}} </td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="fullname" sticky>
            <th mat-header-cell *matHeaderCellDef> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position" sticky>
            <th mat-header-cell *matHeaderCellDef> Positiom </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Mother's Column -->
        <ng-container matColumnDef="mothersname">
            <th mat-header-cell *matHeaderCellDef> Mother's Name </th>
            <td mat-cell *matCellDef="let element"> {{element.mothersname}} </td>
        </ng-container>

         <!-- Father's Column -->
        <ng-container matColumnDef="fathersname">
            <th mat-header-cell *matHeaderCellDef> Father's Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fathersname}} </td>
        </ng-container>
        
        <ng-container matColumnDef="siblings">
            <th mat-header-cell *matHeaderCellDef> Siblings </th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let sibling of element.siblings">
                {{ sibling.name }}
              </div>
            </td>
          </ng-container>

         <!-- Spouse's Column -->
        <ng-container matColumnDef="spouse">
            <th mat-header-cell *matHeaderCellDef> Spouse  </th>
            <td mat-cell *matCellDef="let element"> {{element.spouse}} <button class="add-button-spouse" cButton color="primary">+</button></td>
        </ng-container>

         <!-- Children's Column -->
        <ng-container matColumnDef="children">
            <th mat-header-cell *matHeaderCellDef> Children </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngFor="let child of element.children">
                    <button class="add-button-children" cButton color="danger">-</button>{{ child.name }} 
                <br>
                </ng-container>
                <button class="sub-button-children" cButton color="primary">+</button> 
            </td>
        </ng-container>

         <!-- Mother-in-law's Column -->
        <ng-container matColumnDef="motherinlaw">
            <th mat-header-cell *matHeaderCellDef> Mother-In-Law  </th>
            <td mat-cell *matCellDef="let element"> {{element.motherinlaw}} <button class="add-button-motherinlaw" cButton color="danger">-</button></td>
        </ng-container>

         <!-- Father-in-Law's Column -->
        <ng-container matColumnDef="fatherinlaw">
            <th mat-header-cell *matHeaderCellDef> Father-In-Law </th>
            <td mat-cell *matCellDef="let element"> {{element.fatherinlaw}} <button class="add-button-fatherinlaw" cButton color="primary">+</button></td>
        </ng-container>

        <!-- Step CHilrdrens Column -->
        <ng-container matColumnDef="stepChild">
            <th mat-header-cell *matHeaderCellDef> Name of Stepchildren </th>
            <td mat-cell *matCellDef="let element"> {{element.stepChild}} </td>
        </ng-container>

        <!-- Son/Daughter in Law Column -->
        <ng-container matColumnDef="sonDaughterInLaw">
            <th mat-header-cell *matHeaderCellDef> Name of Son/Daughter-In-Law </th>
            <td mat-cell *matCellDef="let element"> {{element.sonDaughterInLaw}} </td>
        </ng-container>

        <!-- GrandParents Column -->
        <ng-container matColumnDef="grandParents">
            <th mat-header-cell *matHeaderCellDef> Grandparents </th>
            <td mat-cell *matCellDef="let element"> {{element.grandParents}} </td>
        </ng-container>

        <!-- Grand Parents-in-Law Column -->
        <ng-container matColumnDef="grandParentsInLaw">
            <th mat-header-cell *matHeaderCellDef>Grandparents-In-Law </th>
            <td mat-cell *matCellDef="let element"> {{element.grandParentsInLaw}} </td>
        </ng-container>

        <!-- Sisters-in-Law Column -->
        <ng-container matColumnDef="sistersInLaw">
            <th mat-header-cell *matHeaderCellDef> Sisters-In-Law </th>
            <td mat-cell *matCellDef="let element"> {{element.sistersInLaw}} </td>
        </ng-container>

        <!-- Brothers-in-Law Column -->
        <ng-container matColumnDef="brothersInLaw">
            <th mat-header-cell *matHeaderCellDef> Brothers-In-Law </th>
            <td mat-cell *matCellDef="let element"> {{element.brothersInLaw}} </td>
        </ng-container>
        
        <!-- GrandChildren Column -->
        <ng-container matColumnDef="grandChildren">
            <th mat-header-cell *matHeaderCellDef> GrandChildren </th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let grandchild of element.grandChildren">
                {{ grandchild.name }}
              </div>
            </td>
          </ng-container>

        <!-- GrandChildren-in-Law Column -->
        <ng-container matColumnDef="grandChildrenInLaw">
            <th mat-header-cell *matHeaderCellDef> Grandchildren-in-Law </th>
            <td mat-cell *matCellDef="let element" class="rowdata"> {{element.grandChildrenInLaw}} </td>
        </ng-container>

        
        
        <!-- Header row second group -->
        <!-- <ng-container matColumnDef="header-row-second-group">
            <th class="cTableCols" *matHeaderCellDef [attr.colspan]="6"> Related Interest </th>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="['header-row-first-group']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

      
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of data">
    </mat-paginator>
      
      <!-- <div *ngIf="!clickedRows.size">
        Clicked rows will be logged here
      </div>
      
      <ul>
        <li *ngFor="let clickedRow of clickedRows">
          Clicked on {{clickedRow.name}}
        </li>
      </ul> -->
      
</c-container>

  