<!-- ADD DOSRI FORM -->
<div mat-dialog-title>
    <c-modal-header>
        <h3 cModalTitle>DOSRI Form</h3>
    </c-modal-header>
</div>
<form cForm class="mb-2" [formGroup]="dosriForm" (ngSubmit)="onSubmit()">    
    <div mat-dialog-content class="content">
        <!-- Modal Form -->
        <c-modal-body>
          <c-row class="align-items-center">
             <!-- CIS Number Input -->
            <c-col [sm]="6">
              <label cLabel="col" for="cisNumber">CIS Number</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>First Name</mat-label> -->
                <input matInput id="cisNumber" name="cisNumber" (keyup.enter)="CISlookup()"
                type="text" placeholder="CIS Number" formControlName="com_cis_number" appNum>
                 <mat-error *ngIf="dosriForm.get('com_cis_number')?.hasError('required')" class="error-msg">CIS Number is Required</mat-error>
              </mat-form-field>
            </c-col>

            <c-col [sm]="6">
              <label cLabel="col" for="accountName">Account Name</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>Middle Name</mat-label> -->
                <input matInput id="accountName"  name="accountName"
                type="text" placeholder="Account Name" formControlName="com_account_name" appCaps>
                <mat-error *ngIf="dosriForm.get('com_account_name')?.hasError('required')" class="error-msg">Account Name is Required</mat-error>
                
              </mat-form-field>
            </c-col>
          </c-row>
  
           
            <!-- Company Name Input -->
        <c-row class="align-items-center">
            <c-col [sm]="12">
              <label cLabel="col" for="companyName">Company Name</label>
              <mat-form-field appearance="fill" [style.width.%]=100>
                <!-- <mat-label>Last Name</mat-label> -->
                <input matInput #accDinput id="companyName"  name="companyName"
                type="text" placeholder="Company Name" formControlName="com_company_name" appCaps>
                <mat-error *ngIf="dosriForm.get('com_company_name')?.hasError('required')" class="error-msg">Company Name is Required</mat-error>
                
              </mat-form-field>
            </c-col>
          </c-row>
        </c-modal-body>
        <c-modal-footer>
          </c-modal-footer>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
        <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!dosriForm.valid">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>

