
<c-container fluid class="mb-3 p-0 position-relative">
  <!-- Button to open a modal -->
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center"><h2>Users Management</h2>
          
        </c-card-header>
        <c-card-body>

          
            <c-container fluid class="my-1 d-flex justify-content-between align-items-center">
              <!-- <c-row> -->
                  <div></div>
                  <button mat-fab extended color="primary"  (click)="addUsers()" *appHasPermission="'add'"  >
                    <mat-icon>add</mat-icon>
                    ADD
                </button>
              <!-- </c-row> -->
            </c-container>
            <c-container fluid>
              <table cTable [responsive]="true" mat-table [dataSource]="userDataSource" multiTemplateDataRows class="mat-elevation-z8 DRI-table mb-0 border">
              <tbody>

                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="fName">
                  <th mat-header-cell *matHeaderCellDef> First Name </th>
                  <td mat-cell *matCellDef="let element">{{ element.fName }}</td>
                </ng-container>
            
                <ng-container matColumnDef="mName">
                  <th mat-header-cell *matHeaderCellDef> Middle Name </th>
                  <td mat-cell *matCellDef="let element">{{ element.mName }}</td>
                </ng-container>
            
                <ng-container matColumnDef="lName">
                  <th mat-header-cell *matHeaderCellDef> Last Name </th>
                  <td mat-cell *matCellDef="let element">{{ element.lName }}</td>
                </ng-container>
            
                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef> Username </th>
                  <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
                </ng-container>
            
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email</th>
                  <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>
            
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef> Mobile #</th>
                  <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
                </ng-container>
            
                <ng-container matColumnDef="department">
                  <th mat-header-cell *matHeaderCellDef> Department</th>
                  <td mat-cell *matCellDef="let element">{{ element.department }}</td>
                </ng-container>

                
                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef> Role</th>
                  <td mat-cell *matCellDef="let element">{{ element.role }}</td>
                </ng-container>
            
                <ng-container matColumnDef="view">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let row">
                    <div class="d-flex justify-content-center">
                      <button mat-icon-button aria-label="View Users Info" *appHasPermission="'view'">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button (click)="editUsers(row)" aria-label="Edit Users Info" *appHasPermission="'edit'">
                        <mat-icon>create</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="delRelationship()" aria-label="Delete Users" *appHasPermission="'delete'">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <table cTable [responsive]="true" class="mat-elevation-z8 DRI-table" mat-table [dataSource]="element.authority">
                        
                        <ng-container matColumnDef="access">
                          <th mat-header-cell *matHeaderCellDef></th>
                          <td mat-cell *matCellDef="let element"> {{ element.access }} </td>
                        </ng-container>

                        <ng-container matColumnDef="view">
                          <th mat-header-cell *matHeaderCellDef> View </th>
                          <td mat-cell *matCellDef="let permission">
                            <mat-checkbox [(ngModel)]="permission.view" (change)="updateDatabase(permission, 'view')"></mat-checkbox>
                          </td>
                        </ng-container>
            
                        <ng-container matColumnDef="add">
                          <th mat-header-cell *matHeaderCellDef> Add </th>
                          <td mat-cell *matCellDef="let permission">
                            <mat-checkbox [(ngModel)]="permission.add" (change)="updateDatabase(permission, 'add')"></mat-checkbox>
                          </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="edit">
                          <th mat-header-cell *matHeaderCellDef> Update </th>
                          <td mat-cell *matCellDef="let permission">
                            <mat-checkbox [(ngModel)]="permission.edit" (change)="updateDatabase(permission, 'edit')"></mat-checkbox>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                          <th mat-header-cell *matHeaderCellDef> Delete </th>
                          <td mat-cell *matCellDef="let permission">
                            <mat-checkbox [(ngModel)]="permission.delete" (change)="updateDatabase(permission, 'delete')"></mat-checkbox>
                          </td>
                        </ng-container>
                        
                        
                        <ng-container matColumnDef="maker">
                          <th mat-header-cell *matHeaderCellDef> Maker </th>
                          <td mat-cell *matCellDef="let permission">
                            <mat-checkbox [(ngModel)]="permission.maker" (change)="updateDatabase(permission, 'maker')"></mat-checkbox>
                          </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="approver">
                          <th mat-header-cell *matHeaderCellDef> Approver </th>
                          <td mat-cell *matCellDef="let permission">
                            <mat-checkbox [(ngModel)]="permission.approver" (change)="updateDatabase(permission, 'approver')"></mat-checkbox>
                          </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="reviewer">
                          <th mat-header-cell *matHeaderCellDef> Reviewer </th>
                          <td mat-cell *matCellDef="let permission">
                            <mat-checkbox [(ngModel)]="permission.reviewer" (change)="updateDatabase(permission, 'reviewer')"></mat-checkbox>
                          </td>
                        </ng-container>
                        
                        

                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell text-center" colspan="7">No Data Available</td>
                        </tr>


                        <tr mat-header-row *matHeaderRowDef="DdisplayedColumns" class="cTableCol2"></tr>
                        <tr mat-row *matRowDef="let row; columns: DdisplayedColumns" class="cTableRow2"></tr>
                      </table>
                    </div>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand" class="cTableCol"></tr>
               
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                    class="example-element-row cTableRow"
                    [class.example-expanded-row]="expandedElement === element">
                    <!-- (click)="toggleRowExpansion(element); $event.stopPropagation()"> -->
                </tr>
            
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </tbody>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of data"></mat-paginator>
            </c-container>
            
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>

  <!-- End of Main Container -->



<!-- Modals -->

<!-- Add Users Modals -->
<c-modal id="addUsers" [visible]="addvisible" backdrop="static" (visibleChange)="addUsersChange($event)" size="lg">
    <c-modal-header>
      <h5 cModalTitle>Add Users</h5>
      <button (click)="addUsers()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <!-- Modal Form -->
        <form cForm [formGroup]="userForm"  class="mb-2" (ngSubmit)="onUserSubmit()">
            <c-modal-body>
              <c-row class="align-items-center">
                
                <c-col [sm]="4">
                    <label cLabel="col" for="fName">First Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>First Name</mat-label> -->
                      <input matInput #accDinput id="fName" name="fName"
                      type="text" placeholder="First Name" formControlName="fName" appTitleCase>
                      <mat-error *ngIf="userForm.get('fName')?.hasError('required')" class="error-msg">First Name is Required</mat-error>
                    </mat-form-field>
                </c-col>
        
                <c-col [sm]="4">
                    <label cLabel="col" for="mName">Middle Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Middle Name</mat-label> -->
                      <input matInput #accDinput id="mName"  name="mName"
                      type="text" placeholder="Middle Name" formControlName="mName" appTitleCase>
                      <mat-error *ngIf="userForm.get('mName')?.hasError('required')" class="error-msg">Niddle Name is Required</mat-error>
                    </mat-form-field>
                </c-col>

                <c-col [sm]="4">
                    <label cLabel="col" for="lName">Last Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Last Name</mat-label> -->
                      <input matInput #accDinput id="lName"  name="lName"
                      type="text" placeholder="Last Name" formControlName="lName" appTitleCase>
                      <mat-error *ngIf="userForm.get('lName')?.hasError('required')" class="error-msg">Last Name is Required</mat-error>
                    </mat-form-field>
                </c-col>
      
              </c-row>
      
              <c-row class="align-items-center">
                <c-col [sm]="6">
                  <label cLabel="col" for="uEmail">Email</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>Company Name</mat-label> -->
                    <input matInput #accDinput id="uEmail" name="uEmail"
                    type="text" placeholder="Email Address" formControlName="uEmail" appTitleCase>
                    <mat-error *ngIf="userForm.get('uEmail')?.hasError('required')" class="error-msg">Email is Required</mat-error>
                  </mat-form-field>
                </c-col>

                <c-col [sm]="6">
                    <label cLabel="col" for="uMobile">Mobile Number</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Company Name</mat-label> -->
                      <input matInput #accDinput id="uMobile" name="uMobile"
                      type="text" placeholder="Mobile Number" formControlName="uMobile" appNum>
                      <mat-error *ngIf="userForm.get('uMobile')?.hasError('required')" class="error-msg">Mobile # is Required</mat-error>
                    </mat-form-field>
                </c-col>
              </c-row>

              <c-row class="align-items-center">
                <c-col [sm]="12">
                  <label cLabel="col" >Department</label>
                  <mat-form-field appearance="fill" [style.width.%]="100" >
                    <mat-select formControlName="commandControl" placeholder="Department" id="uDept" name="uDept">
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let group of commandGroups" [value]="group.value">
                        {{ group.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.get('commandControl')?.hasError('required')" class="error-msg">Department is Required</mat-error>
                  </mat-form-field>
                </c-col>
              </c-row>

              
              <c-row class="align-items-center">
                <c-col [sm]="6">
                  <label cLabel="col" for="userName">User Name</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>Company Name</mat-label> -->
                    <input matInput #accDinput id="userName" name="userName"
                    type="text" placeholder="User Name" formControlName="userName">
                    
                    <mat-error *ngIf="userForm.get('userName')?.hasError('required')" class="error-msg">User Name is Required</mat-error>
                  </mat-form-field>
                </c-col>

                <c-col [sm]="6">
                    <label cLabel="col" for="uPass">Password</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                        <!-- <mat-label>Company Name</mat-label> -->
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="uPass" formControlName="uPass">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        
                      <mat-error *ngIf="userForm.get('uPass')?.hasError('required')" class="error-msg">Password is Required</mat-error>
                      </mat-form-field>
                  </c-col>
              </c-row>

            </c-modal-body>
            <c-modal-footer>
              <button type="submit" cButton color="success">Proceed</button>
            </c-modal-footer>
        </form>
    </c-modal-body>
</c-modal>


<!-- Edit Users -->
<c-modal id="editUsers" [visible]="editvisible" backdrop="static" (visibleChange)="editUsersChange($event)" size="lg">
    <c-modal-header>
      <h5 cModalTitle>Edit Users</h5>
      <button (click)="closeUsersModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <!-- Modal Form -->
        <form cForm class="mb-2" [formGroup]="eUserForm" >
            <c-modal-body>
              <c-row class="align-items-center">
                
                <c-col [sm]="4">
                    <label cLabel="col" for="efName">First Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>First Name</mat-label> -->
                      <input matInput #accDinput id="efName" name="efName" 
                      type="text" placeholder="First Name" formControlName="fName" [value]="editUserData.fName">
                    </mat-form-field>
                </c-col>
        
                <c-col [sm]="4">
                    <label cLabel="col" for="emName">Middle Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Middle Name</mat-label> -->
                      <input matInput #accDinput id="emName"  name="emName"
                      type="text" placeholder="Middle Name" formControlName="mName" [value]="editUserData.mName">
                    </mat-form-field>
                </c-col>

                <c-col [sm]="4">
                    <label cLabel="col" for="elName">Last Name</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Last Name</mat-label> -->
                      <input matInput #accDinput id="elName"  name="elName"
                      type="text" placeholder="Last Name" formControlName="lName" [value]="editUserData.lName">
                    </mat-form-field>
                </c-col>
      
              </c-row>
      
              <c-row class="align-items-center">
                <c-col [sm]="6">
                  <label cLabel="col" for="euEmail">Email</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>Company Name</mat-label> -->
                    <input matInput #accDinput id="euEmail" name="euEmail"
                    type="text" placeholder="Email Address" formControlName="uEmail" [value]="editUserData.email">
                  </mat-form-field>
                </c-col>

                <c-col [sm]="6">
                  <label cLabel="col" for="uDept">Department</label>
                  <mat-form-field appearance="fill" [style.width.%]="100">
                    <!-- <mat-label>Company Name</mat-label> -->
                      <mat-select id="uDept" formControlName="commandControl" placeholder="Department">
                          <mat-option>-- None --</mat-option>
                          <mat-option *ngFor="let group of commandGroups" [value]="group.value">
                              {{ group.viewValue }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </c-col>
              
              </c-row>

              
              <c-row class="align-items-center">
                <c-col [sm]="6">
                    <label cLabel="col" for="euMobile">Mobile Number</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Company Name</mat-label> -->
                      <input matInput #accDinput id="euMobile" name="euMobile"
                      type="text" placeholder="Mobile Number" formControlName="uMobile" [value]="editUserData.mobile">
                    </mat-form-field>
                </c-col>

                <c-col [sm]="6">
                  <label cLabel="col" for="euserName">User Name</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    <!-- <mat-label>Company Name</mat-label> -->
                    <input matInput #accDinput id="euserName" name="euserName"
                    type="text" placeholder="User Name" formControlName="userName" [value]="editUserData.userName">
                  </mat-form-field>
                </c-col>
              </c-row>

              <c-row class="text-center">
                <c-col [sm]="12">
                    <button mat-fab extended color="primary">
                        <mat-icon>refresh</mat-icon>
                        Reset Password
                      </button>
                </c-col>
              </c-row>

            </c-modal-body>
            <c-modal-footer>
              <button type="submit" cButton color="success">Proceed</button>
            </c-modal-footer>
        </form>
    </c-modal-body>
</c-modal>
