tr.example-detail-row {
  height: 0;
  overflow: hidden;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #c79c90;
  color: #ffffec;
}



.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  // display: flex;
  width: 100%;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  // padding: 8px;
  font-weight: lighter;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.mat-column-expandedDetail {
  padding: 0;
}

.example-element-description-attribution {
  opacity: 0.5;


}

.acc-access-add {
    position: relative;
    left: 91%;
    top: 0;
  }

  .users {
    background-color: rgba(126, 124, 124, 0.5) ;
  }


.mat-column-access, .mat-column-view, .mat-column-add, .mat-column-edit, .mat-column-delete, .mat-column-maker,
.mat-column-approver, .mat-column-reviewer{
  text-align: center;
}


.mat-column-action {
  text-align: center;
}


.cTableCol{
  text-align: left;
  // background-color: rgb(100, 246, 178);
  // background-color: rgb(0, 100, 0, .4);
  background-color: #ffc0ad;
  font-size: 18px;
  color: #271c19;
}

.cTableRow{
  text-align: left;
  // background-color: rgb(148, 195, 243);
  // background-color: rgb(144, 238, 144, .7);
  background-color: #f3d2c1;
  font-size: 16px;
  color: #271c19;
}



.cTableCol2{
  text-align: left;
  // background-color: rgb(100, 246, 178);
  // background-color: rgb(0, 0, 100.4);
  background-color: #947972;
  font-size: 18px;
  color: #fffffe;
}

.cTableRow2{
  text-align: left; 
  // background-color: rgb(148, 195, 243);
  background-color: #bea8a1;
  font-size: 16px;
  color: #fffffe;
  border-bottom: 2px solid #fffffe;
}

.cTableRow2:hover {
  // background: rgb(98, 252, 178);
  background: #f3d2c1;
  color: #271c19;
  // background: rgb(0, 100, 0, .3);
  // color: #ffffff !important;
}

