<c-container fluid class="p-0 position-relative">
  <!-- Button to open a modal -->
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center"><h2>Directors Related Interest</h2>
        </c-card-header>
        <c-card-body>
          <c-container fluid class="my-3">
            
            <!-- Data Table -->
            <table cTable [responsive]="true" [hover]="true" class="mat-elevation-z8 DRI-table table table-bordered" mat-table [dataSource]="dataSource" >
        
              <!-- FullName Column -->
              <ng-container matColumnDef="FullName">
                  <th mat-header-cell *matHeaderCellDef> Full Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.FullName}} 
                    <button mat-icon-button mat-raised [matTooltipPosition]="positionOptions" matTooltip="Click to Unassign this Director." color="warn" class="add-button" (click)="delDirector(element, element.comp_CIS, element.dir_CisNumber)" aria-label="Delete Users">
                      <mat-icon>link_off</mat-icon>
                    </button>
                  </td>
              </ng-container>
      
              <!-- Company Name Column -->
              <ng-container matColumnDef="Company">
                  <th mat-header-cell *matHeaderCellDef> Company </th>
                  <td mat-cell *matCellDef="let element"> {{element.Company}} </td>
              </ng-container>
      
              <!-- Position Column -->
              <ng-container matColumnDef="Position">
                  <th mat-header-cell *matHeaderCellDef> Position </th>
                  <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
              </ng-container>
      
              <!-- Mother's Name Column -->
              <ng-container matColumnDef="MothersName" class="position-reative">
                  <th mat-header-cell *matHeaderCellDef> Mother's Name </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngFor="let motherName of element['MothersName']">
                      <div class="d-flex d-sub-icon">
                        <mat-icon class="sub-icon" color="warn" (click)="delRelationship(element, motherName.cisNumber, motherName.dirRelated)" *ngIf="element.MothersName">remove_circle</mat-icon>
                        {{motherName.fullName}}
                      </div>
                      <br>
                    </ng-container> 
                      <mat-icon [cModalToggle]="relationShipModal.id" (click)="setButtonId(1, element.dir_CisNumber)" (click)="setdirRelated()" class="add-icon" color="primary">add_circle</mat-icon>
                    </td>
              </ng-container>
      
              <!-- Father's Name -->
              <ng-container matColumnDef="FathersName">
                  <th mat-header-cell *matHeaderCellDef> Father's Name </th>
                  <td mat-cell *matCellDef="let element">
                      <ng-container *ngFor="let fatherName of element['FathersName']">
                        <div class="d-flex d-sub-icon">
                            <mat-icon class="sub-icon" color="warn" (click)="delRelationship(element, fatherName.cisNumber, fatherName.dirRelated)" *ngIf="element.FathersName">remove_circle</mat-icon>
                            {{fatherName.fullName}}
                        </div>
                        <br>
                      </ng-container>
                      <mat-icon [cModalToggle]="relationShipModal.id" (click)="setButtonId(2, element.dir_CisNumber)" class="add-icon" color="primary">add_circle</mat-icon>
                  </td>
              </ng-container>
              
              <!-- Spouse -->
              <ng-container matColumnDef="Spouse">
                  <th mat-header-cell *matHeaderCellDef> Spouse  </th>
                  <td mat-cell *matCellDef="let element">
                      <ng-container *ngFor="let spouse of element['Spouse']">
                        <div class="d-flex d-sub-icon">
                          <mat-icon class="sub-icon" color="warn" (click)="delRelationship(element, spouse.cisNumber, spouse.dirRelated)" *ngIf="element.Spouse">remove_circle</mat-icon>
                          {{spouse.fullName}}
                        </div>
                          <br>
                      </ng-container>
                      <mat-icon [cModalToggle]="relationShipModal.id" (click)="setButtonId(3, element.dir_CisNumber)" class="add-icon" color="primary">add_circle</mat-icon>
                  </td>
              </ng-container>
      
              <!-- Children -->
              <ng-container matColumnDef="Children">
                  <th mat-header-cell *matHeaderCellDef> Children </th>
                  <td mat-cell *matCellDef="let element">
                      <ng-container *ngFor="let child of element['Children']">
                        <div class="d-flex d-sub-icon">
                          <mat-icon class="sub-icon" color="warn" (click)="delRelationship(element, child.cisNumber, child.dirRelated)" *ngIf="element.Children">remove_circle</mat-icon>
                          {{ child.fullName }} 
                        </div>
                          <br>
                      </ng-container>
                      <mat-icon [cModalToggle]="relationShipModal.id" (click)="setButtonId(4, element.dir_CisNumber)" class="add-icon" color="primary">add_circle</mat-icon> 
                  </td>
              </ng-container>
      
              <!-- Mother in Law -->
              <ng-container matColumnDef="MotherinLaw">
                  <th mat-header-cell *matHeaderCellDef> Mother-In-Law  </th>
                  <td mat-cell *matCellDef="let element"> 
                      <ng-container *ngFor="let motherinlaw of element['MotherinLaw']">
                        <div class="d-flex d-sub-icon">
                            <mat-icon class="sub-icon" color="warn" (click)="delRelationship(element, motherinlaw.cisNumber, motherinlaw.dirRelated)" *ngIf="element.MotherinLaw">remove_circle</mat-icon>
                            {{motherinlaw.fullName}}
                        </div>
                            <br>
                      </ng-container>
                        <mat-icon [cModalToggle]="relationShipModal.id" (click)="setButtonId(5, element.dir_CisNumber)" class="add-icon" color="primary">add_circle</mat-icon></td>
              </ng-container>
      
              <!-- Father in Law -->
              <ng-container matColumnDef="FatherinLaw">
                  <th mat-header-cell *matHeaderCellDef> Father-In-Law </th>
                  <td mat-cell *matCellDef="let element">
                      <ng-container *ngFor="let fatherinlaw of element['FatherinLaw']">
                        <div class="d-flex d-sub-icon">
                          <mat-icon class="sub-icon" color="warn" (click)="delRelationship(element, fatherinlaw.cisNumber, fatherinlaw.dirRelated)" *ngIf="element.FatherinLaw">remove_circle</mat-icon> 
                          {{fatherinlaw.fullName}}
                        </div>
                        <br>
                      </ng-container>  
                        <mat-icon [cModalToggle]="relationShipModal.id" (click)="setButtonId(6, element.dir_CisNumber)" class="add-icon" color="primary">add_circle</mat-icon></td>
              </ng-container>
      
              <!-- Header row first group -->
              <ng-container matColumnDef="header-row-first-group">
                  <th  *matHeaderCellDef cTableColor class="cTableCol position-relative"
                      
                      [attr.colspan]="3"> 
                  Directors  
                  <button [cModalToggle]="staticBackdropModal.id" mat-fab extended color="primary" class="add-btn-icon" (click)="setComp()">
                    <mat-icon>add</mat-icon>
                    ADD
                  </button>   
                  </th>
              </ng-container>
              
              <!-- Header row second group -->
              <ng-container matColumnDef="header-row-second-group">
                  <th class="cTableCols" *matHeaderCellDef [attr.colspan]="6"> Related Interest </th>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']"></tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="cTableCol1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cTableRow"></tr>
          </table>
            <!-- Paginator for Data Table -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of data">
              </mat-paginator>
          </c-container>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>






<!-- All Modals are below -->


<!-- Add Directors Modal -->
<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal" size="lg">
    <c-modal-header>
      <h3 cModalTitle>Directors</h3>
      <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
  
    <form cForm class="mb-2" [formGroup]="drctrForm" (ngSubmit)="onDSubmit()">
      <c-modal-body>
        <c-row class="align-items-center">


            <c-col [sm]="4">
              <label cLabel="col" for="cisNumber">CIS Number</label>
              <input
                aria-describedby="passwordHelpInline-3"cFormControl
                id="comp_CIS" name="comp_CIS"
                placeholder="comp_CIS"
                type="text" [value]="selectedCompCISNumber" hidden>
              <input
                aria-describedby="passwordHelpInline-3"cFormControl
                id="cisNumber" name="cisNumber"
                placeholder="CIS Number"
                type="text" formControlName="cisNumber" appNum>
            </c-col>  
          
            <c-col [sm]="4">
                <label cLabel="col" for="dFirstName">First Name</label>
                <input
                  aria-describedby="passwordHelpInline-3"cFormControl
                  id="dFirstName" name="dFirstName"
                  placeholder="First Name"
                  type="text" formControlName="dFirstName" appTitleCase>
            </c-col>
    
            <c-col [sm]="4">
                <label cLabel="col" for="dMiddleName">Middle Name</label>
                <input
                  aria-describedby="passwordHelpInline-3"cFormControl
                  id="dMiddleName" name="dMiddleName"
                  placeholder="Middle Name"
                  type="text" formControlName="dMiddleName" appTitleCase>
            </c-col>

            
    
    
        </c-row>

        <c-row class="align-items-center">
          
          <c-col [sm]="6">
            <label cLabel="col" for="dLastName">Last Name</label>
            <input
              aria-describedby="passwordHelpInline-3"cFormControl
              id="dLastName" name="dLastName"
              placeholder="Last Name"
              type="text" formControlName="dLastName" appTitleCase>
        </c-col>
          
          <c-col [sm]="6">
            <label cLabel="col" for="dPosition">Position</label>
            <input
              cFormControl
              id="dPosition" name="dPosition"
              placeholder="Position"
              type="text" formControlName="dPosition" appTitleCase>
          </c-col>
  
        </c-row>
      </c-modal-body>
      <c-modal-footer>
        <button type="submit" cButton color="success">Proceed</button>
      </c-modal-footer>
    </form>
        
</c-modal>

<!-- End of Modal for Add Director -->


<!-- Start of Modal for Related Interest -->
<c-modal #relationShipModal backdrop="static" id="relationShipModal" size="lg">
    <c-modal-header>
      <h3 cModalTitle> Relationship </h3>
      <button [cModalToggle]="relationShipModal.id" cButtonClose></button>
    </c-modal-header>
  
    <form cForm class="mb-2" [formGroup]="riForm" (ngSubmit)="onRISubmit()">
      <c-modal-body>
        <c-row class="align-items-center">
          
            <c-row class="align-items-center">

              <c-col [sm]="6">
                <label cLabel="col" for="riCisNumber">CIS Number</label>
                <input
                aria-describedby="passwordHelpInline-3"cFormControl
                id="dir_CIS" name="dir_CIS"
                placeholder="dir_CIS"
                type="text" [value]="selectedDirCisNumber || ''" hidden>
                <input
                  aria-describedby="passwordHelpInline-3"cFormControl
                  id="riCisNumber" name="riCisNumber"
                  placeholder="CIS Number"
                  type="text" formControlName="riCisNumber" appNum>
              </c-col>
          
                <c-col [sm]="6">
                    <label cLabel="col" for="riFirstName">First Name</label>
                    <input
                      aria-describedby="passwordHelpInline-3"cFormControl
                      id="riFirstName" name="riFirstName"
                      placeholder="First Name"
                      type="text" formControlName="riFirstName" appTitleCase>
                </c-col>
            </c-row>
            
            <c-row class="align-items-center">
                <c-col [sm]="6">
                    <label cLabel="col" for="riMiddleName">Middle Name</label>
                    <input
                      aria-describedby="passwordHelpInline-3"cFormControl
                      id="riMiddleName" name="riMiddleName"
                      placeholder="Middle Name"
                      type="text" formControlName="riMiddleName" appTitleCase>
                </c-col>
    
                <c-col [sm]="6">
                    <label cLabel="col" for="riLastName">Last Name</label>
                    <input
                      aria-describedby="passwordHelpInline-3"cFormControl
                      id="riLastName" name="riLastName"
                      placeholder="Last Name"
                      type="text" formControlName="riLastName" appTitleCase>
                </c-col>
        
        
            </c-row>
  
  
        </c-row>
      </c-modal-body>
      <c-modal-footer>
        <button type="submit" cButton color="success">Proceed</button>
      </c-modal-footer>
    </form>
        
</c-modal>

