.content {
    padding-top: 10px;
  }
  
  .action {
    padding: 0px 25px 20px;
    button {
      flex: 1;
    }
  }
  

  .example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }