<!-- ADD Affiliates FORM -->
<div mat-dialog-title>
    <c-modal-header>
        <h3 cModalTitle>Edit Users Form</h3>
    </c-modal-header>
</div>
<form cForm class="mb-2" [formGroup]="userForm"  (ngSubmit)="onUserSubmit()">    
    <div mat-dialog-content class="content">
        <!-- Modal Form -->
        <c-modal-body>
            
      
              <c-row class="align-items-center">

                <c-col [sm]="4">
                    <label cLabel="col" for="uMobile">Mobile Number</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      <!-- <mat-label>Company Name</mat-label> -->
                      <input matInput #accDinput id="uMobile" name="uMobile"
                      type="text" placeholder="Mobile Number" formControlName="mobile_no" appNum>
                      <mat-error *ngIf="userForm.get('mobile_no')?.hasError('required')" class="error-msg">Mobile # is Required</mat-error>
                    </mat-form-field>
                </c-col>

                <c-col [sm]="4">
                  <label cLabel="col" >Role</label>
                  <mat-form-field [style.width.%]="100" >
                    <mat-select #matSelect formControlName="role" placeholder="Role" id="role" name="role">
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let roles of userrole" [value]="roles.value">
                        {{ roles.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.get('role')?.hasError('required')" class="error-msg">Role is Required</mat-error>
                  </mat-form-field>
                </c-col>

                <c-col [sm]="4">
                  <label cLabel="col" for="userName">User Name</label>
                  <mat-form-field appearance="fill" [style.width.%]=100>
                    
                    <input matInput #accDinput id="userName" name="userName"
                    type="text" placeholder="User Name" formControlName="username" readonly>
                    
                    <mat-error *ngIf="userForm.get('username')?.hasError('required')" class="error-msg">User Name is Required</mat-error>
                  </mat-form-field>
                </c-col>
              </c-row>

              <c-row class="align-items-center">
                  

                  <!-- <c-col [sm]="6">
                    <label cLabel="col" for="uPass">Password</label>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                      
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="uPass" formControlName="uPass">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="userForm.get('uPass')?.hasError('required')" class="error-msg">Password is Required</mat-error>
                        <mat-error *ngIf="userForm.get('uPass')?.hasError('capitalLetter')" class="error-msg">Password must contain at least one capital letter!</mat-error>
                        <mat-error *ngIf="userForm.get('uPass')?.hasError('number')" class="error-msg">Password must contain at least one number!</mat-error>
                        <mat-error *ngIf="userForm.get('uPass')?.hasError('specialCharacter')" class="error-msg">Password must contain at least one special character.</mat-error>
                        <mat-error *ngIf="userForm.get('uPass')?.hasError('minLength')" class="error-msg">Password must be at least 8 characters long.</mat-error>
                        <mat-error *ngIf="userForm.get('uPass')?.hasError('maxLength')" class="error-msg">The password should not exceed 20 characters in length.</mat-error>
                        </mat-form-field>
                  </c-col> -->
                  
                  
               </c-row>

               <c-row>
                  <c-col>
                    <mat-slide-toggle [checked]="userForm.get('status')?.value === 0" (change)="toggleStatus($event)"> {{ stateText }}</mat-slide-toggle>
                  </c-col>
               </c-row>

               <br>
               <br>

              <c-row>
                <label c-Label="col">Authority</label>
                
                <table
                            [hover]="true"
                            [responsive]="true"
                            [striped]="true"
                            align="middle"
                            cTable
                            class="mb-0 border"
                          >
                            <thead cTableColor="danger">
                              <tr>
                                <!-- Add your table headers here based on your data structure -->
                                <th>Route</th>
                                <th>View</th>
                                <th>Add</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>Export</th>
                                <!-- <th>Maker</th>
                                <th>Approver</th>
                                <th>Reviewer</th> -->
                                <!-- Add more headers as needed -->
                              </tr>
                            </thead>
                            <tbody>
                              <!-- Loop through each item in the user's list -->
                              <tr *ngFor="let access of permissionDataSource.data; let j = index">
                                <td>{{ access.navigation_name }}</td>                              
                                <td><mat-checkbox (change)="updateCheckboxValue($event, 'view', access)" [checked]="+access.view === 1" class="example-margin"></mat-checkbox></td>
                                <td><mat-checkbox (change)="updateCheckboxValue($event, 'add', access)" [checked]="+access.add === 1" class="example-margin"></mat-checkbox></td>
                                <td><mat-checkbox (change)="updateCheckboxValue($event, 'edit', access)" [checked]="+access.edit === 1" class="example-margin"></mat-checkbox></td>
                                <td><mat-checkbox (change)="updateCheckboxValue($event, 'delete', access)" [checked]="+access.delete === 1" class="example-margin"></mat-checkbox></td>
                                <td><mat-checkbox (change)="updateCheckboxValue($event, 'update', access)" [checked]="+access.update === 1" class="example-margin"></mat-checkbox></td>
                                <!-- <td><mat-checkbox (change)="updateCheckboxValue($event, 'maker', access)" [checked]="+access.maker === 1" class="example-margin"></mat-checkbox></td>
                                <td><mat-checkbox (change)="updateCheckboxValue($event, 'approver', access)" [checked]="+access.approver === 1" class="example-margin"></mat-checkbox></td>
                                <td><mat-checkbox (change)="updateCheckboxValue($event, 'reviewer', access)" [checked]="+access.reviewer === 1" class="example-margin"></mat-checkbox></td> -->
                                
                                 
                                <!-- Add more columns for other properties -->
                  
                                <!-- Add more rows for additional items if needed -->
                              </tr>
                            </tbody>
                          </table>
              </c-row>

        </c-modal-body>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" mat-dialog-close>Close</button>
        <!-- <button mat-raised-button type="submit" cButton color="primary" class="proceed" [disabled]="!dosriForm.valid">Proceed</button> -->
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>

