
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$coreui-free-angular-admin-template-primary: mat.define-palette(mat.$indigo-palette);
$coreui-free-angular-admin-template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$coreui-free-angular-admin-template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$coreui-free-angular-admin-template-theme: mat.define-light-theme((
  color: (
    primary: $coreui-free-angular-admin-template-primary,
    accent: $coreui-free-angular-admin-template-accent,
    warn: $coreui-free-angular-admin-template-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($coreui-free-angular-admin-template-theme);

/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 

.sidebar-nav .nav-group.show .nav-group-toggle {
  background-color: #947972;
}

.bg-clight {
  --cui-bg-opacity: 1;
  // background-color: rgba(var(--cui-light-rgb), var(--cui-bg-opacity)) !important;
  // background-color: #ac9f9c !important;
  background-color: #55423d !important;
}

.cCard-group {
  border: 1px solid #140d0b !important; 
  border-radius: 6px !important;
}

.bg-cprimary {
  background-color: #ffc0ad !important;
}

.bg {
  background-color: #fff3ec !important;
  // background-color: #ffc0ad !important;
}

.btn-cprimary {
  --cui-btn-color: #271c19 !important;
  --cui-btn-bg: #ffc0ad !important;
  --cui-btn-border-color: #140d0b !important;
  --cui-btn-hover-color: rgba(255, 255, 255, 0.87);
  --cui-btn-hover-bg: #5141e0;
  --cui-btn-hover-border-color: #4735df;
  --cui-btn-focus-shadow-rgb: 75, 58, 223;
  --cui-btn-active-color: rgba(255, 255, 255, 0.87);
  --cui-btn-active-bg: #5b4ce2;
  --cui-btn-active-border-color: #140d0b !important;
  --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 21, 0.125);
  --cui-btn-disabled-color: rgba(255, 255, 255, 0.87);
  --cui-btn-disabled-bg: #321fdb;
  --cui-btn-disabled-border-color: #321fdb;
}

// google chart
/* Using !important (use sparingly) */
.google-visualization-orgchart-node {
  // background: #e78fb3 !important;
  background: #f3d2c1 !important;
  border: 2px solid #bea8a1 !important;
  color: #271c19 !important;
  min-width: 150px;
  height: 100px;
  font-size: 14px;
  font-weight: 400;
}

.google-visualization-orgchart-linebottom {
  border-bottom: 1px solid #fffffe !important;
}

.google-visualization-orgchart-lineleft {
  border-left: 1px solid #fffffe !important;
}

.google-visualization-orgchart-lineright {
  border-right: 1px solid #fffffe !important;
}

.google-visualization-orgchart-table * {
   padding: 0; 
}


// Proceed Button
.proceed {
  background-color: #ffc0ad;
  color: #271c19;
  border-color: #fff3e9;
  font-size: 18px;
}

.error-msg {
  font-size: 13px;
}


// *************\
cTableCol{
  text-align: left;
  background-color: #ffc0ad !important;
  font-size: 18px;
  color:#271c19;
}