.DRI-table {
    min-width: 5000px;
    max-width:max-content;
    background-color: #fff;
}

.cTableCol{
    text-align: left;
    // background-color: rgb(100, 246, 178);
    background-color: rgb(84, 152, 84);
    font-size: 18px;
    color: #ffffff;
  }
  
  .cTableRow{
    text-align: left;
    // background-color: rgb(148, 195, 243);
    // background-color: rgb(144, 238, 144, .7);
    background-color: rgb(187, 242, 187);
    font-size: 16px;
    color: #000;
  }


.add-button {
    padding: 3px;
    font-size: 10px;
    right: 2px;
    top: 2px;
    position: absolute;
}

.sub-button {
    padding: 3px;
    font-size: 10px;
    // right: 2px;
    // top: 2px;
    color: #fff;
    // position: absolute;
}

.add-icon {
    padding: 3px;
    font-size: 23px;
    right: 2px;
    top: -2px;
    position: absolute;
}

.d-sub-icon{
    height: 0px;
    margin: 0;
}


.sub-icon {
    font-size: 21px;
}

.mat-column-Company, .mat-column-MothersName, .mat-column-FathersName, .mat-column-Siblings,
 .mat-column-Spouse, .mat-column-Children, .mat-column-MotherinLaw, 
 .mat-column-FatherinLaw, .mat-column-stepChild, .mat-column-sonDaughterInLaw, 
 .mat-column-grandParents, .mat-column-grandParentsInLaw, .mat-column-sistersInLaw,
 .mat-column-brothersInLaw, .mat-column-grandChildren, .mat-column-grandChildrenInLaw  {
    width: 2.08%;
    position: relative;
    text-align: left;
    // background-color: #fff;
    border-left: 1px solid #d3d3d3;
}

.mat-column-FullName {
    width: 3%;
    position: relative;
    text-align: left;
    border-left: 1px solid #d3d3d3;
    background-color: rgb(187, 242, 187);
}

.mat-column-Position {
    width: 1.04%;
    position: relative;
    overflow: hidden;
    text-align: left;
    border-left: 1px solid #d3d3d3;
    background-color: rgb(187, 242, 187);
}


.example-container {
    height: 400px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  