tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #ff9c81;
  }
  
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    // display: flex;
    // width: 100%;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  
.cTableCol{
  text-align: left;
  background-color: #ffc0ad;
  font-size: 18px;
  color: #271c19;
}

.cTableRow{
  text-align: left;
  background-color: #f3d2c1;
  font-size: 16px;
  color: #271c19;
}

.cTableCol2{
  text-align: left;
  background-color: #947972;
  font-size: 18px;
  color: #fffffe;
}

.cTableRow2{
  text-align: left;
  background-color: #bea8a1;
  font-size: 16px;
  color: #fffffe;
  border-bottom: 2px solid #fffffe;
}

.cTableRow2:hover {
  background: #ff9c81;
}

  .acc-access-add {
    position: absolute;
    right: 9px;
    top: -42px;
  }
  
  
  .DRI-table {
      width: 100%;
  }

  .mat-column-expand, .mat-column-cis {
    border-left: 1px solid #d3d3d3;
  }
  
  // .mat-column-action {
  //   width: 1%;
  // }
    
    .mat-column-Nodirectors {
      // width: 30%px;
      padding: 10px 4px;
      text-align: left;
    }
    
    .mat-column-LDUpdated {
      width: 40%;
      padding: 10px 4px;
      text-align: center;
    }
  
  
    .mat-column-comN {
      width: 33%;
      padding: 10px 24px;
      text-align: center;
    }
  
    .mat-column-ofcrName {
      width: 31%;
      padding: 10px 24px;
      text-align: center;
    }
  
    .mat-column-position {
      width: 29%;
      padding: 10px 24px;
      text-align: left;
    }

    .mat-column-view {
      width: 15%;
      padding: 10px 24px;
      text-align: center;
    }
    
    .mat-mdc-row .mat-mdc-cell {
      cursor: pointer;
    }
    

    .mat-column-aff_com_cis_number, .mat-column-fullname, .mat-column-aff_com_company_name {
      // width: 33%;
      text-align: left;
      padding: 10px 24px;
    }

    .mat-column-expandedDetail {
        padding: 0;
    }